Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Bump CI and Docker to Go 1.25.7
  .github/workflows/fly-deploy.yml
  .github/workflows/review-apps.yml
  .github/workflows/test.yml
  Dockerfile
  go.mod
Due: none

Send invite email via Loops API
  .github/workflows/review-apps.yml
  cmd/app/main.go
  internal/api/handlers.go
  internal/api/organisations.go
Due: all, unit, integration, API Layer, Applications

Use admin user creation, drop OTP link
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Remove Supabase user creation from invite
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Show auth modal for invite token visitors
  settings.html
  web/static/js/bb-settings.js
Due: none

Add invite welcome onboarding flow
  internal/api/handlers.go
  internal/api/oauth_utils.go
  internal/api/oauth_utils_test.go
  internal/api/organisations.go
  invite-welcome.html
  settings.html
  web/static/js/bb-invite-flow.js
  web/static/js/bb-invite-welcome.js
  web/static/js/bb-settings.js
  welcome.html
Due: all, unit, integration, API Layer

Copy welcome pages into image
  Dockerfile
Due: none

Embed invite auth form inline
  CLAUDE.md
  docs/development/DEVELOPMENT.md
  invite-welcome.html
  web/static/js/bb-invite-welcome.js
Due: none

Accept non-matching email
  internal/api/organisations.go
  web/static/js/bb-invite-welcome.js
Due: all, unit, integration, API Layer

Preserve invite token on OAuth
  web/static/js/auth.js
Due: none

Document auth redirect contract
  CLAUDE.md
  docs/development/DEVELOPMENT.md
  web/static/js/auth.js
Due: none

Fix invite org state consistency
  CLAUDE.md
  docs/development/DEVELOPMENT.md
  internal/api/organisations.go
  web/static/js/auth.js
  web/static/js/core.js
Due: all, unit, integration, API Layer

Fallback retry select active org if 1st attempt fails
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Fix invite OAuth session handling
  web/static/js/auth.js
  web/static/js/bb-invite-flow.js
Due: none

Improve invite UX and recovery
  internal/api/organisations.go
  web/static/js/auth.js
  web/static/js/bb-invite-welcome.js
  web/static/js/bb-welcome.js
  welcome.html
Due: all, unit, integration, API Layer

Fix invite signup captcha gating
  internal/api/organisations.go
  web/static/js/auth.js
Due: all, unit, integration, API Layer

Clarify signup captcha mismatch error
  web/static/js/auth.js
Due: none

Enable turnstile in staging by default
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Restore env override for turnstile
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Enable turnstile in preview apps
  .fly/review_apps.toml
Due: none

Fix invite signup turnstile no-op
  web/static/js/auth.js
Due: none

Render turnstile in dynamic auth modal
  web/static/js/auth.js
Due: none

Preserve invite URL on email signup
  web/static/js/auth.js
Due: none

Configurable loops invite template id
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Handle loops unavailable invite delivery
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Support invite welcome trailing slash
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Add invite URL edge case tests
  internal/api/oauth_utils_test.go
Due: all, unit, integration, API Layer

Remove get content-type header
  web/static/js/bb-invite-flow.js
Due: none

Cleanup invite auth subscription
  web/static/js/bb-invite-flow.js
Due: none

Guard invite flow supabase access
  web/static/js/bb-invite-flow.js
Due: none

Document loops key for review apps
  docs/development/DEVELOPMENT.md
Due: none

Retry auth sync until supabase ready
  web/static/js/auth.js
Due: none

Trim oauth redirect intent comments
  web/static/js/auth.js
Due: none

Catch welcome title init rejection
  web/static/js/bb-welcome.js
Due: none

Remove redundant oauth replaceState
  web/static/js/auth.js
Due: none

Remove auth sync intent comments
  web/static/js/auth.js
Due: none

Label invite card heading accessibly
  invite-welcome.html
Due: none

Use NotFound helper in welcome handler
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Run active org retries asynchronously
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Preserve invite token across oauth callback
  web/static/js/auth.js
  web/static/js/bb-invite-flow.js
Due: none
