Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Adjust handlers for preview app
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Handler supabase path fix.
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Load secrets
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Adjust preview-app DB URL
  .github/workflows/review-apps.yml
Due: none

Adjust CLI auth flow.
  web/static/js/auth.js
  web/static/js/core.js
Due: none

Adjust concurrency defaults and overrides for dashboard/webflow. Tweak dashboard form/resfresh.
  CHANGELOG.md
  dashboard.html
  internal/api/handlers.go
  internal/api/jobs.go
  internal/api/jobs_create_test.go
  web/static/js/auth.js
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
Due: all, unit, integration, API Layer

Tweak docs and dashboard concurrency hidden field.
  dashboard.html
  docs/architecture/API.md
Due: none

Stagger worker scaling and startup.
  CHANGELOG.md
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Invalid query param error.
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Few minor tweaks.
  dashboard.html
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Added shutdown race guards
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Calculate in progress task completion rate.
  web/static/js/job-page.js
  web/templates/job-details.html
Due: none

Schduleder draft. Docs tidy up.
  .gitignore
  CLAUDE.md
  cmd/app/main.go
  dashboard.html
  docs/README.md
  docs/TEST_PLAN.md
  docs/architecture/ARCHITECTURE.md
  docs/development/BRANCHING.md
  docs/development/DEVELOPMENT.md
  docs/plans/job-scheduling-proposal.md
  docs/research/2025-10/general-optimisation-concepts/EVALUATION.md
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/jobs.go
  internal/api/schedulers.go
  internal/api/test_mocks.go
  internal/db/db.go
  internal/db/schedulers.go
  internal/jobs/manager.go
  internal/jobs/types.go
  internal/mocks/db.go
  supabase/migrations/20251111140000_create_schedulers_table.sql
  web/static/js/bb-auth-extension.js
  web/static/js/bb-dashboard-actions.js
Due: all, unit, integration, API Layer, Job Management, Database Layer, Applications

Changelog
  CHANGELOG.md
Due: none

refactor(schedulers): improve error handling and data consistency
  .gitignore
  internal/api/handlers_db_test.go
  internal/api/jobs_retrieval_test.go
  internal/api/share_links_test.go
  internal/db/schedulers.go
  internal/jobs/manager_startjob_test.go
  web/static/js/bb-auth-extension.js
  web/static/js/bb-dashboard-actions.js
Due: all, unit, integration, API Layer, Job Management, Database Layer

Resolve issues.
  .gitignore
  web/static/js/bb-auth-extension.js
  web/static/js/bb-dashboard-actions.js
Due: none

Resolve issues: Days, attrbiutes. toast duplication.
  web/static/js/bb-dashboard-actions.js
Due: none

Docs updates
  CHANGELOG.md
  Roadmap.md
  docs/architecture/API.md
  docs/architecture/DATABASE.md
  docs/plans/README.md
  docs/plans/domain-rate-limiter.md
  docs/plans/job-scheduling-proposal.md
  docs/plans/queue-stability-summary.md
  docs/plans/sentry-incident-remediation-nov-2025.md
Due: none

Remove duplicate script
  dashboard.html
Due: none

Fix auth token timing issue
  dashboard.html
Due: none

Fix auth token and refresh interval issues
  dashboard.html
  web/static/js/bb-data-binder.js
Due: none

Fix race condition: initialize dataBinder before auth integration
  web/static/js/bb-auth-extension.js
Due: none

Fix Supabase initialisation order
  web/static/js/bb-auth-extension.js
Due: none

Remove redundant Supabase check
  web/static/js/bb-auth-extension.js
Due: none

Fix auth session coordination
  web/static/js/bb-auth-extension.js
Due: none

accept both supabase domains
  internal/auth/middleware.go
Due: all, unit, integration, Authentication

fix linting and remove debug logging
  dashboard.html
  internal/auth/middleware.go
  web/static/js/bb-data-binder.js
Due: all, unit, integration, Authentication

fix coderabbit issues
  internal/api/handlers.go
  web/static/js/auth.js
  web/static/js/bb-auth-extension.js
Due: all, unit, integration, API Layer

fix coderabbit issues
  web/static/js/auth.js
Due: none

Add schedule dropdown to cache warming form
  dashboard.html
Due: none

Add scheduler throttling to prevent jobs running too frequently
  cmd/app/main.go
  internal/api/handlers.go
  internal/api/test_mocks.go
  internal/db/schedulers.go
Due: all, unit, integration, API Layer, Database Layer, Applications

Job page follow proper auth.
  web/static/js/job-page.js
Due: none

Skip scheduler job creation if jobs created recently.
  internal/api/handlers_db_test.go
  internal/mocks/db.go
  web/static/js/job-page.js
Due: all, unit, integration, API Layer

Core initialisation run function
  web/static/js/core.js
Due: none

Language fixes
  web/static/js/auth.js
  web/static/js/bb-auth-extension.js
  web/static/js/core.js
  web/static/js/job-page.js
Due: none

Connect-src allow supabase DB URL
  internal/api/middleware.go
Due: all, unit, integration, API Layer

Clean up keys/etc
  .fly/review_apps.toml
  .github/workflows/review-apps.yml
  fly.toml
  web/static/js/auth.js
Due: none

Dashboard, filter jobs by cache-status & waiting.
  internal/api/jobs.go
  web/static/js/job-page.js
  web/templates/job-details.html
Due: all, unit, integration, API Layer

Search tasks by keyword.
  internal/api/jobs.go
  web/static/js/job-page.js
  web/templates/job-details.html
Due: all, unit, integration, API Layer

Change if to switch
  internal/api/jobs.go
Due: all, unit, integration, API Layer
