Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Change worker/pool lmits.
  cmd/app/main.go
  internal/db/queue.go
Due: all, unit, integration, Database Layer, Applications

Plan to optimise throughput and stop failed jobs.
  docs/plans/connection-scaling-hotfix-followup.md
Due: none

New observability metrics: tasks and concurrency.
  internal/db/queue.go
  internal/db/queue_unit_test.go
  internal/jobs/worker.go
  internal/observability/observability.go
Due: all, unit, integration, Job Management, Database Layer

Task throughput analysis
  docs/research/2025-11/load-performance-analysis/2025-11-01-concurrent-job-stress-test.md
  monitor_load_test.sh
Due: none

Addtional DB instrumentation
  internal/db/queue.go
  internal/observability/observability.go
Due: all, unit, integration, Database Layer

Fix queue performance bottleneck
  internal/db/queue.go
  supabase/migrations/20251101064011_add_task_waiting_status_and_optimise_queue.sql
Due: all, unit, integration, Database Layer

Fix status split implementation
  internal/db/queue.go
  supabase/migrations/20251101064011_add_task_waiting_status_and_optimise_queue.sql
Due: all, unit, integration, Database Layer

Update tests for capacity-aware enqueueing
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Update changelog for queue performance fix
  CHANGELOG.md
Due: none

Clean file
  load_test_jobs.csv
Due: none

Fix migration for TEXT status column
  supabase/migrations/20251101064011_add_task_waiting_status_and_optimise_queue.sql
Due: none

Remove CONCURRENTLY from index creation
  supabase/migrations/20251101064011_add_task_waiting_status_and_optimise_queue.sql
Due: none

Remove backfill from migration
  supabase/migrations/20251101064011_add_task_waiting_status_and_optimise_queue.sql
Due: none

Add admin role check for reset DB button
  dashboard.html
Due: none

Load tests - random 1-20 (instead of 1-10)
  scripts/load-test-simple.sh
Due: none

Fix avg_time_per_task columns
  internal/db/dashboard.go
Due: all, unit, integration, Database Layer

Fix admin role check metadata field
  dashboard.html
Due: none

Fix reset-db to clear data not schema
  internal/db/db.go
Due: all, unit, integration, Database Layer

Add migration reset to reset-db endpoint
  internal/db/db.go
Due: all, unit, integration, Database Layer

Remove unused schema setup functions
  internal/db/db.go
Due: all, unit, integration, Database Layer

Remove tests for deleted schema setup functions
  internal/db/create_core_tables_test.go
  internal/db/create_performance_indexes_test.go
  internal/db/enable_row_level_security_test.go
Due: all, unit, integration, Database Layer

Enhanced reset-db logging and monitoring
  internal/api/admin.go
  internal/db/db.go
Due: all, unit, integration, API Layer, Database Layer

Reset DB improvements.
  internal/api/admin.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/test_mocks.go
  internal/db/db.go
  internal/mocks/db.go
Due: all, unit, integration, API Layer, Database Layer

Reset DB. Migrations in working app folder. Additional logging.
  Dockerfile
  internal/db/db.go
  internal/db/reset_migrations.go
Due: all, unit, integration, Database Layer

Promote waiting tasks after batch completions
  internal/db/batch.go
Due: all, unit, integration, Database Layer

Fix UUID type cast in promotion
  internal/db/batch.go
Due: all, unit, integration, Database Layer

Fix UUID type casting error
  internal/db/batch.go
Due: all, unit, integration, Database Layer

Fix promotion function parameter type
  supabase/migrations/20251102012230_fix_promote_function_parameter_type.sql
Due: none

Migration: Fix promotion to pending issue.
  supabase/migrations/20251102094500_fix_queue_function_argument_types.sql
Due: none

Fix reset-db to insert migrations properly.
  internal/db/reset_migrations.go
Due: all, unit, integration, Database Layer

Remove migration
  supabase/migrations/20251102012230_fix_promote_function_parameter_type.sql
Due: none

Dashboard reset db extra console logging. Adjust migrations.
  dashboard.html
  internal/db/reset_migrations.go
  supabase/migrations/20251102094500_fix_queue_function_argument_types.sql
Due: all, unit, integration, Database Layer

Fix logging issue.
  internal/db/queue.go
  monitor_throughput.sh
Due: all, unit, integration, Database Layer

Major update retry guard processes.
  CHANGELOG.md
  docs/plans/domain-rate-limiter.md
  internal/jobs/domain_limiter.go
  internal/jobs/prepare_task_test.go
  internal/jobs/types.go
  internal/jobs/worker.go
  internal/jobs/worker_failure_test.go
  supabase/migrations/20240101000000_initial_schema.sql
  supabase/migrations/20251102100000_add_domain_adaptive_delays.sql
Due: all, unit, integration, Job Management

Integration test fix.
  internal/jobs/worker_failure_test.go
Due: all, unit, integration, Job Management

Update Unreleased section to include minor tag
  CHANGELOG.md
Due: none

Clean up orphaned tasks on job failure
  internal/jobs/worker.go
  internal/jobs/worker_failure_test.go
Due: all, unit, integration, Job Management

Move scripts around
  scripts/monitor_detailed.sh
  scripts/monitor_load_test.sh
  scripts/monitor_throughput.sh
  scripts/run-tests.sh
Due: none

Catch 429 errors properly outside crawler to bump up job delays.
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Move noisy logs to debug level
  internal/api/errors.go
  internal/jobs/worker.go
Due: all, unit, integration, API Layer, Job Management
