Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Fix comma usage in development docs
  docs/development/DEVELOPMENT.md
Due: none

Remove redundant invite token precheck
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Drop duplicate active org defaults
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Log turnstile retry exhaustion
  web/static/js/auth.js
Due: none

Normalize invite accept response shape
  web/static/js/bb-invite-flow.js
Due: none

Wire global nav user menu interactions
  web/static/js/bb-global-nav.js
Due: none

Refresh nav notifications on welcome pages
  web/static/js/bb-global-nav.js
Due: none

Centralize nav notifications across pages
  dashboard.html
  web/static/js/bb-global-nav.js
  web/static/js/bb-settings.js
Due: none

Add notification data attributes for clicks
  web/static/js/bb-global-nav.js
Due: none

Use proper HTML escaping in nav
  web/static/js/bb-global-nav.js
Due: none

Fix unread forEach lint warning
  web/static/js/bb-global-nav.js
Due: none

Coerce values before escaping to avoid TypeError and lost IDs.
  web/static/js/bb-global-nav.js
Due: none

Update web/static/js/bb-global-nav.js
  web/static/js/bb-global-nav.js
Due: none

Harden nav dropdown and notification handlers
  web/static/js/bb-global-nav.js
Due: none

Check mark-read response before UI update
  web/static/js/bb-global-nav.js
Due: none

Report initial active-org attempt count
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Remove redundant invite error reset
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Sync user menu org name mutations
  web/static/js/bb-global-nav.js
Due: none

Use buttons for notification list items
  web/static/js/bb-global-nav.js
Due: none

Sync notifications aria-expanded state
  web/static/js/bb-global-nav.js
Due: none

Tune staging DB pool pressure
  cmd/app/main.go
  internal/db/db.go
  internal/db/queue.go
Due: all, unit, integration, Database Layer, Applications

Unify DB pool default limits
  internal/db/db.go
Due: all, unit, integration, Database Layer

Warn on invalid DB pool env
  .github/workflows/changelog-check.yml
  internal/db/db.go
Due: all, unit, integration, Database Layer

Bump golangci-lint for Go 1.26
  .github/workflows/test.yml
Due: none

Address CodeRabbit review follow up
  README.md
  cmd/app/main.go
  docs/development/DEVELOPMENT.md
Due: all, unit, integration, Applications

Resolve remaining CodeRabbit review notes
  internal/api/auth_google.go
  internal/api/auth_middleware_test.go
  internal/api/schedulers.go
  internal/api/webflow_sites.go
Due: all, unit, integration, API Layer

Type Google API success responses
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Apply Go 1.26 moderniser cleanup
  internal/db/queue.go
  internal/jobs/domain_limiter.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Document Go 1.26 upgrade changes
  CHANGELOG.md
Due: none

Move schedules into automated jobs settings
  dashboard.html
  settings.html
  web/static/js/bb-auth-extension.js
  web/static/js/bb-dashboard-actions.js
  web/static/js/bb-global-nav.js
  web/static/js/bb-settings.js
  web/static/js/bb-webflow.js
  web/static/styles/app.css
Due: none

Guard invalid schedule next-run timestamps
  web/static/js/bb-settings.js
Due: none

Use block callback in schedules cleanup
  web/static/js/bb-settings.js
Due: none

Use else-if in tab hash activation
  web/static/js/bb-settings.js
Due: none

Handle missing schedule interval display
  web/static/js/bb-settings.js
Due: none

Add scheduler toggle concurrency check
  internal/api/schedulers.go
  web/static/js/bb-settings.js
Due: all, unit, integration, API Layer

Make scheduler state checks atomic
  internal/api/handlers.go
  internal/api/schedulers.go
  internal/api/webflow_sites.go
  internal/db/schedulers.go
  internal/mocks/db.go
Due: all, unit, integration, API Layer, Database Layer

Remove state conflict log
  internal/db/schedulers.go
Due: all, unit, integration, Database Layer

Fix scheduler update brace typo
  internal/db/schedulers.go
Due: all, unit, integration, Database Layer
