Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Harden GA connections and logging
  internal/db/google_connections.go
  internal/db/queue.go
  supabase/migrations/20260129133319_add_traffic_score_column.sql
  supabase/migrations/20260201094500_add_ga_inactive_reason.sql
Due: all, unit, integration, Database Layer

Refine GA fetch handling
  internal/api/google_data_api.go
  internal/db/db.go
Due: all, unit, integration, API Layer, Database Layer

Tighten auth logging and permissions
  .claude/settings.local.json
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Harden GA auth and domain checks
  internal/api/auth_google.go
  internal/api/handlers.go
  internal/api/jobs.go
  internal/api/webflow_sites.go
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration, API Layer

Tighten GA domain selector UI
  web/static/js/bb-google.js
Due: none

Return domain id in job updates
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Hide empty GA columns
  internal/api/jobs.go
  web/static/js/job-page.js
Due: all, unit, integration, API Layer

Add GA account field labels
  dashboard.html
Due: none

Sort GA view columns
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Inline GA domain add for connections
  web/static/js/bb-google.js
Due: none

Remove GA domain modal
  web/static/js/bb-google.js
Due: none

Add shared domain search controls
  CHANGELOG.md
  dashboard.html
  docs/development/ATTRIBUTE_SYSTEM.md
  web/static/js/bb-auth-extension.js
  web/static/js/bb-domain-search.js
  web/static/js/bb-google.js
Due: none

Fix GA4 analytics and domain mappings
  internal/api/auth_google.go
  internal/api/domains.go
  internal/api/google_data_api.go
  internal/api/handlers.go
  internal/db/db.go
  internal/db/google_connections.go
  internal/mocks/db.go
  supabase/migrations/20260129133319_add_traffic_score_column.sql
  supabase/migrations/20260129212252_add_ga_account_vault_functions.sql
  supabase/migrations/20260201120000_add_organisation_domains.sql
Due: all, unit, integration, API Layer, Database Layer

Tighten GA4 logging and timeouts
  dashboard.html
  internal/api/auth_google.go
  internal/api/jobs.go
  supabase/migrations/20260201123000_add_page_analytics_join_index.sql
  web/static/js/bb-domain-search.js
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Improve GA4 logging and context
  internal/api/auth_google.go
  internal/api/google_data_api.go
  internal/db/db.go
Due: all, unit, integration, API Layer, Database Layer

Simplify pending session parsing logs
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Fix GA4 domain submit on enter
  web/static/js/bb-google.js
Due: none

Harden GA4 account fetch handling
  internal/api/auth_google.go
  internal/api/google_data_api.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Sync GA4 domain and accounts
  web/static/js/bb-google.js
Due: none

Handle GA4 domain load failures
  web/static/js/bb-google.js
Due: none

Reword invalid domain validation errors
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration

Align domain validation test messages
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration

Show domain validation errors inline
  web/static/js/bb-domain-search.js
Due: none

Harden domain search client logic
  web/static/js/bb-domain-search.js
Due: none

Guard domain submit concurrency
  web/static/js/bb-domain-search.js
Due: none

Trim domains before validation
  internal/util/url.go
Due: all, unit, integration

Avoid stale domain cache checks
  web/static/js/bb-domain-search.js
Due: none

Unify GA4 account selection flow
  web/static/js/bb-google.js
Due: none

Remove GA4 property picker UI
  dashboard.html
  web/static/js/bb-google.js
Due: none

Resolve CodeRabbit review comments
  web/static/js/bb-domain-search.js
  web/static/js/bb-google.js
Due: none

Show GA account name in cards
  web/static/js/bb-google.js
Due: none

Rename GA account name field
  dashboard.html
  web/static/js/bb-google.js
Due: none

Save GA account properties on select
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Fallback to org GA token
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Document frontend HTML population review
  docs/plans/frontend-html-population-review.md
Due: none

Fix GA4 property save handling
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Fix GA4 auto-save status
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Standardise GA4 token handling
  web/static/js/bb-google.js
Due: none

Return GA account names
  internal/api/auth_google.go
  internal/db/google_connections.go
Due: all, unit, integration, API Layer, Database Layer

Remove logs.
  web/static/js/bb-google.js
Due: none
