Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Fix timezone offset calculation and disable debug logging
  dashboard.html
  internal/db/dashboard.go
Due: all, unit, integration, Database Layer

deploy strategy rolling
  fly.toml
Due: none

Reconcile running tasks on jobs.
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Align dates to UTC.
  internal/db/batch.go
  internal/db/queue.go
  internal/jobs/manager.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Decouple running_tasks from batch. Plus DB connection handling/updates.
  internal/db/batch.go
  internal/db/db.go
  internal/db/db_test.go
  internal/db/queue.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/interfaces.go
  internal/jobs/prepare_task_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
Due: all, unit, integration, Job Management, Database Layer

Fix double decrement. Changelog.
  CHANGELOG.md
  internal/db/queue.go
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Fix SQL syntax errors in batch update queries
  internal/db/batch.go
Due: all, unit, integration, Database Layer

Add debug logging to DecrementRunningTasks
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Updated dates to timestampz
  supabase/migrations/20251027201445_convert_timestamps_to_timestamptz.sql
Due: none

Adjust date type migrations
  supabase/migrations/20251027201445_convert_timestamps_to_timestamptz.sql
  supabase/migrations/20251027211500_convert_tasks_timestamps.sql
  supabase/migrations/20251027211510_convert_jobs_timestamps.sql
Due: none

Remove APP_ENV check from reset endpoint
  internal/api/admin.go
  supabase/migrations/20251027201445_convert_timestamps_to_timestamptz.sql
  supabase/migrations/20251027211500_convert_tasks_timestamps.sql
  supabase/migrations/20251027211510_convert_jobs_timestamps.sql
Due: all, unit, integration, API Layer

Fix admin reset test after removing APP_ENV check
  internal/api/admin_test.go
Due: all, unit, integration, API Layer

Update admin reset endpoint to /v1 prefix
  internal/api/admin.go
  internal/api/admin_test.go
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Use TIMESTAMPTZ for all timestamp columns
  internal/db/db.go
Due: all, unit, integration, Database Layer

Add migration to convert timestamps to timestamptz
  supabase/migrations/20251028002231_convert_all_timestamps_to_timestamptz.sql
  supabase/migrations/20251028005214_convert_all_timestamps_to_timestamptz.sql
Due: none

Remove duplicate migration file
  supabase/migrations/20251028002231_convert_all_timestamps_to_timestamptz.sql
Due: none

Add placeholder migrations to match remote history
  supabase/migrations/20251027201445_convert_timestamps_to_timestamptz.sql
  supabase/migrations/20251027211500_convert_tasks_timestamps.sql
  supabase/migrations/20251027211510_convert_jobs_timestamps.sql
Due: none

Remove placeholder migration files
  supabase/migrations/20251027201445_convert_timestamps_to_timestamptz.sql
  supabase/migrations/20251027211500_convert_tasks_timestamps.sql
  supabase/migrations/20251027211510_convert_jobs_timestamps.sql
Due: none

Re-add running_tasks column
  supabase/migrations/20251028091737_readd_running_tasks_column.sql
Due: none

Fix domains column name
  supabase/migrations/20251028092959_fix_domains_column_name.sql
Due: none

Add missing second timing columns
  supabase/migrations/20251028094545_add_missing_second_timing_columns.sql
Due: none

Major migration cleanup
  supabase/migrations/20240101000000_initial_schema.sql
  supabase/migrations/20250818213702_fix_timezone_consistency.sql
  supabase/migrations/20250929084027_fix_job_total_tasks_trigger.sql
  supabase/migrations/20250929084550_add_job_stats_summary.sql
  supabase/migrations/20251005101543_use_second_response_time_for_stats.sql
  supabase/migrations/20251005114205_fix_rls_ambiguous_column_references.sql
  supabase/migrations/20251005120815_rename_broken_links_to_failed_pages.sql
  supabase/migrations/20251011095919_fix_stats_calculation_bugs.sql
  supabase/migrations/20251011103209_fix_cache_warming_improvement_logic.sql
  supabase/migrations/20251011105225_recalculate_stats_for_null_jobs.sql
  supabase/migrations/20251013103326_drop_unused_job_indexes.sql
  supabase/migrations/20251025015743_add_running_tasks_column.sql
  supabase/migrations/20251028005214_convert_all_timestamps_to_timestamptz.sql
  supabase/migrations/20251028091737_readd_running_tasks_column.sql
  supabase/migrations/20251028092959_fix_domains_column_name.sql
  supabase/migrations/20251028094545_add_missing_second_timing_columns.sql
Due: none

migration fix
  supabase/migrations/20251028102000_restore_cache_check_attempts_column.sql
Due: none

Fix load job script
  scripts/load-test-simple.sh
Due: none

Make running_tasks generated column
  internal/db/queue.go
  supabase/migrations/20251028111704_make_running_tasks_generated_column.sql
Due: all, unit, integration, Database Layer

Revert "Make running_tasks generated column"
  internal/db/queue.go
  supabase/migrations/20251028111704_make_running_tasks_generated_column.sql
Due: all, unit, integration, Database Layer

CTE for job task status.
  internal/db/queue.go
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Adjust HTTP timing.
  cmd/app/main.go
Due: all, unit, integration, Applications

Add seampore for queue transactions
  internal/db/queue.go
Due: all, unit, integration, Database Layer

No preview app by default
  .github/workflows/review-apps.yml
Due: none

Adjust 2nd crawl delays
  internal/crawler/crawler.go
Due: all, unit, integration, Web Crawler

Throttle queue DB access
  cmd/app/main.go
  internal/db/db.go
  internal/db/queue.go
Due: all, unit, integration, Database Layer, Applications

Changelog.
  CHANGELOG.md
Due: none

Spelling fix
  internal/db/db.go
Due: all, unit, integration, Database Layer

Adjust timezone in auth
  web/static/js/bb-auth-extension.js
Due: none

Adjust queue connection guard
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Mod tidy
  go.mod
Due: none

Fix test for queue
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Linting fixes
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Update roadmap
  Roadmap.md
Due: none
