Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Add aria-label to refresh button
  dashboard.html
Due: none

Format README
  README.md
Due: none

Address CodeRabbit review comments
  plans/google-analytics-integration.md
Due: none

Pagination aria
  dashboard.html
Due: none

Add Google Analytics integration plan (#218)
  plans/google-analytics-integration.md
Due: none

Fix vault token authorisation checks
  supabase/migrations/20260104160000_fix_vault_authorisation.sql
Due: none

Add per-site Webflow configuration (#216)
  CHANGELOG.md
  README.md
  dashboard.html
  internal/api/auth_webflow.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/oauth_utils.go
  internal/api/test_mocks.go
  internal/api/webflow_sites.go
  internal/db/webflow_site_settings.go
  internal/mocks/db.go
  supabase/migrations/20260104120000_create_webflow_site_settings.sql
  supabase/migrations/20260104140000_fix_webflow_delete_trigger.sql
  supabase/migrations/20260104150000_fix_vault_permissions_v2.sql
  supabase/migrations/20260104160000_fix_vault_authorisation.sql
  web/static/js/bb-dashboard-actions.js
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer, Database Layer

Add Google Analytics OAuth integration
  .env.example
  dashboard.html
  internal/api/auth_google.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/test_mocks.go
  internal/db/google_connections.go
  internal/mocks/db.go
  supabase/migrations/20260104212524_add_google_analytics_integration.sql
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer, Database Layer

Fix security scan false positives
  docs/security/SECURITY_REMEDIATION_PLAN.md
  eslint.config.mjs
  scripts/security-check.sh
  web/static/js/auth.js
  web/static/js/bb-data-binder.js
Due: none

Address CodeRabbit review comments
  docs/security/SECURITY_REMEDIATION_PLAN.md
  eslint.config.mjs
  web/static/js/auth.js
  web/static/js/bb-data-binder.js
Due: none

Address CodeRabbit review feedback
  internal/api/auth_google.go
  internal/db/google_connections.go
  supabase/migrations/20260104220000_fix_ga_vault_atomicity.sql
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer, Database Layer

Update ESLint config docs to flat format
  docs/security/SECURITY_REMEDIATION_PLAN.md
Due: none

Add Google OAuth secrets to preview apps
  .github/workflows/review-apps.yml
Due: none

Add daily usage quota system
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/organisations.go
  internal/api/test_mocks.go
  internal/db/queue.go
  internal/db/queue_unit_test.go
  internal/db/users.go
  internal/jobs/types.go
  internal/mocks/db.go
  supabase/migrations/20260104212025_add_plans_and_daily_quotas.sql
  supabase/migrations/20260104230000_add_org_quota_blocking.sql
Due: all, unit, integration, API Layer, Job Management, Database Layer

Address CodeRabbit review feedback
  internal/db/queue.go
  internal/db/users.go
  supabase/migrations/20260104212025_add_plans_and_daily_quotas.sql
Due: all, unit, integration, Database Layer

Add Google Analytics changelog entry
  CHANGELOG.md
Due: none

Fix function overload conflict
  supabase/migrations/20260104212025_add_plans_and_daily_quotas.sql
Due: none

Format CHANGELOG.md
  CHANGELOG.md
Due: none

Fix view column rename error
  supabase/migrations/20260104230000_add_org_quota_blocking.sql
Due: none

Fix duplicate notification setup
  dashboard.html
Due: none

Add quota display to dashboard header
  dashboard.html
Due: none

Fix GA OAuth param name mismatch
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Fix quota auth token retrieval
  dashboard.html
Due: none

Fix usage stats column name mismatch
  internal/db/users.go
Due: all, unit, integration, Database Layer

Add property search with max 10 results
  .claude/settings.local.json
  web/static/js/bb-google.js
Due: none

Fix quota to default to free plan
  supabase/migrations/20260105211834_fix_quota_default_to_free_plan.sql
Due: none

Fix connection display after property save
  web/static/js/bb-google.js
Due: none

Fix promote_waiting_task UUID cast
  internal/db/batch.go
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Enforce NOT NULL plan_id on orgs
  supabase/migrations/20260105213229_enforce_org_free_plan_default.sql
Due: none

Auto-open integrations modal on GA callback
  web/static/js/bb-google.js
Due: none

Format bb-google.js
  web/static/js/bb-google.js
Due: none

Fix GA OAuth: concurrent fetch, limit 100 props
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Address CodeRabbit review feedback
  internal/api/handlers.go
  internal/api/organisations.go
  internal/db/queue.go
  internal/db/users.go
  supabase/migrations/20260106234032_fix_coderabbit_issues.sql
Due: all, unit, integration, API Layer, Database Layer

Add debug logging for GA OAuth redirect
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Use server-side session for GA OAuth data
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Throttle GA API: max 3 concurrent requests
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Remove unused deletePendingGASession
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Fix promote function to use TEXT param
  internal/db/batch.go
  internal/db/queue.go
  supabase/migrations/20260107093018_fix_promote_function_text_param.sql
Due: all, unit, integration, Database Layer

Call OAuth callbacks on init
  web/static/js/bb-auth-extension.js
Due: none

Fix Go formatting
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
