Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Add error handling to org switch refresh
  dashboard.html
Due: none

Agent updates
  .claude/settings.local.json
Due: none

Scope integrations to active organisation
  internal/api/auth_webflow.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/api/webhook_endpoints_test.go
  internal/db/platform_mappings.go
  internal/mocks/db.go
  supabase/migrations/20260104090000_update_integration_org_scoping.sql
Due: all, unit, integration, API Layer, Database Layer

Fix empty state persisting when jobs exist
  web/static/js/bb-auth-extension.js
Due: none

Fix org switch data refresh (#213)
  .claude/settings.local.json
  CHANGELOG.md
  dashboard.html
  supabase/seed.sql
  web/static/js/bb-auth-extension.js
Due: none

Harden integration webhook handling
  internal/api/auth_webflow.go
  internal/api/handlers.go
  supabase/migrations/20260104090000_update_integration_org_scoping.sql
Due: all, unit, integration, API Layer

Scope integrations to active organisation (#214)
  CHANGELOG.md
  internal/api/auth_webflow.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/api/webhook_endpoints_test.go
  internal/db/platform_mappings.go
  internal/mocks/db.go
  supabase/migrations/20260104090000_update_integration_org_scoping.sql
Due: all, unit, integration, API Layer, Database Layer

Document org-scoped integrations
  CHANGELOG.md
Due: none

Fix/org integrations scope (#215)
  CHANGELOG.md
Due: none

Skip empty changelog releases
  .github/workflows/auto-release.yml
Due: none

Run releases on main pushes
  .github/workflows/auto-release.yml
Due: none

Fix no-release label check
  .github/workflows/auto-release.yml
Due: none

Document release guard change
  CHANGELOG.md
Due: none

Add per-site Webflow configuration
  dashboard.html
  internal/api/auth_webflow.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/oauth_utils.go
  internal/api/test_mocks.go
  internal/api/webflow_sites.go
  internal/db/webflow_site_settings.go
  internal/mocks/db.go
  supabase/migrations/20260104120000_create_webflow_site_settings.sql
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer, Database Layer

Address CodeRabbit review comments
  dashboard.html
  internal/api/handlers.go
  internal/api/webflow_sites.go
  internal/db/webflow_site_settings.go
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer, Database Layer

Fix critical JS response parsing bugs
  web/static/js/bb-webflow.js
Due: none

Fix schedule select re-enable on auth fail
  web/static/js/bb-webflow.js
Due: none

Fix action routing and delete trigger
  supabase/migrations/20260104140000_fix_webflow_delete_trigger.sql
  web/static/js/bb-dashboard-actions.js
Due: none

Fix vault permissions and orphan cleanup
  internal/api/auth_webflow.go
  supabase/migrations/20260104150000_fix_vault_permissions_v2.sql
Due: all, unit, integration, API Layer

Reposition as site health tool
  README.md
Due: none

Add scheduling and performance features
  README.md
Due: none

Update README.md
  README.md
Due: none

Add Google Analytics integration plan
  plans/google-analytics-integration.md
Due: none

Fix typo in README for performance tracking
  README.md
Due: none

Reposition as site health tool (#217)
  README.md
Due: none

Add aria-label to schedule dropdown
  dashboard.html
Due: none

Use standard change event for toggle
  dashboard.html
  web/static/js/bb-webflow.js
Due: none

Fix auto-publish toggle click handling
  dashboard.html
  web/static/js/bb-webflow.js
Due: none

Fix modal init before OAuth callbacks
  dashboard.html
Due: none

Fix Webflow API v2 site struct
  internal/api/webflow_sites.go
Due: all, unit, integration, API Layer

Update changelog for minor release
  CHANGELOG.md
Due: none

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
