Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Move external site failures to debug
  internal/crawler/crawler.go
  internal/jobs/worker.go
Due: all, unit, integration, Web Crawler, Job Management

Fix nil pointer.
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Adjust script logging folder
  scripts/monitor_2hr_load_test.sh
  scripts/monitor_load_test.sh
Due: none

Adjust logging
  internal/db/batch.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Add pending cap for unlimited concurrenecy. Retries route through waiting. Domain limiter override respected.
  internal/db/queue.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/domain_limiter.go
  internal/jobs/interfaces.go
  internal/jobs/prepare_task_test.go
  internal/jobs/test_helpers.go
  internal/jobs/types.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
Due: all, unit, integration, Job Management, Database Layer

Test fixes
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Changelog
  CHANGELOG.md
Due: none

Database resilience for major disconnect.
  CHANGELOG.md
  cmd/app/main.go
  docs/DATABASE_RESILIENCE.md
  internal/db/retry.go
Due: all, unit, integration, Database Layer, Applications

Add bounded batch contexts and log flag
  internal/db/batch.go
Due: all, unit, integration, Database Layer

Add bounded batch contexts and log flag
  .githooks/commit-msg
  CHANGELOG.md
  cmd/app/main.go
  docs/plans/fix-retry-issues.md
  internal/db/queue.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/interfaces.go
  internal/jobs/prepare_task_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker_process_test.go
Due: all, unit, integration, Job Management, Database Layer, Applications

Adjust pre-commit hook.
  .githooks/pre-commit
Due: none

Pre-commit
  .githooks/pre-commit
Due: none

Admin
  .claude/settings.local.json
  scripts/monitor_12hr_context_fixes.sh
  scripts/monitor_context_fixes.sh
Due: none

Add idle worker scaling and health probe to reduce database query spam
  .env.example
  CHANGELOG.md
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Dedicated fly machine.
  fly.toml
Due: none

Machine shared.
  fly.toml
Due: none

Query spam fixes
  CHANGELOG.md
  internal/db/queue.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Reduce worker function cyclomatic complexity
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Fix spurious error logging for concurrency blocking
  CHANGELOG.md
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Log monitoring script updates.
  CLAUDE.md
  docs/development/DEVELOPMENT.md
  scripts/monitor_12hr_context_fixes.sh
  scripts/monitor_2hr_load_test.sh
  scripts/monitor_context_fixes.sh
  scripts/monitor_detailed.sh
  scripts/monitor_load_test.sh
  scripts/monitor_logs.sh
  scripts/monitor_throughput.sh
  scripts/process_logs.py
Due: none

Adjust logging level to info.
  fly.toml
Due: none

Add emergency worker scale-down for concurrency blocking
  internal/db/queue.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Emergency worker scale-down for concurrency blocking (#160)
  CHANGELOG.md
  CLAUDE.md
  docs/development/DEVELOPMENT.md
  fly.toml
  internal/db/queue.go
  internal/jobs/worker.go
  scripts/monitor_12hr_context_fixes.sh
  scripts/monitor_2hr_load_test.sh
  scripts/monitor_context_fixes.sh
  scripts/monitor_detailed.sh
  scripts/monitor_load_test.sh
  scripts/monitor_logs.sh
  scripts/monitor_throughput.sh
  scripts/process_logs.py
Due: all, unit, integration, Job Management, Database Layer

Set to immediate and max 1 machine.
  fly.toml
Due: none

Adjust worker scaling and performance boosting.
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Fix double-unlock path - fatal error
  internal/jobs/domain_limiter.go
Due: all, unit, integration, Job Management

Fix transaction rollback anti-pattern
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Fix transaction rollback anti-pattern (#161)
  CHANGELOG.md
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Correct aggregation frequency documentation
  CLAUDE.md
  docs/development/DEVELOPMENT.md
Due: none

Fix log aggregation message counting
  scripts/aggregate_logs.py
  scripts/monitor_logs.sh
  scripts/process_logs.py
Due: none

Fix duplicate job checking for users without organisations
  internal/jobs/handle_existing_jobs_test.go
  internal/jobs/manager.go
Due: all, unit, integration, Job Management

Derive organisation names from email domains
  internal/db/users.go
  internal/db/users_organisation_name_test.go
Due: all, unit, integration, Database Layer

Use email prefix for personal email org names
  internal/db/users.go
  internal/db/users_organisation_name_test.go
Due: all, unit, integration, Database Layer

Auto-join business email organisations
  internal/api/middleware.go
  internal/db/batch.go
  internal/db/users.go
Due: all, unit, integration, API Layer, Database Layer

Changelog.
  CHANGELOG.md
Due: none

Clean up docs.
  docs/diagnostics/writeheader-investigation.md
  docs/optimisations/performance-optimisation-summary.md
  docs/optimisations/security-fix-shared-resources.md
  docs/plans/connection-scaling-hotfix-followup.md
  docs/plans/dashboard-timezone-fix.md
  docs/plans/fix-retry-issues.md
  docs/plans/throughput-optimisation-detailed-plan.md
  docs/plans/throughput-optimisation.md
Due: none

roadmap update
  Roadmap.md
Due: none

Log monitor updte
  scripts/monitor_logs.sh
Due: none

Add diagnostic logging for duplicate WriteHeader calls
  internal/api/middleware.go
Due: all, unit, integration, API Layer

OpenTelemetry Version Upgrade
  go.mod
  go.sum
Due: none

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
