Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Add compressed sitemap support and storage optimisation [Preview app] (#195)
  .fly/review_apps.toml
  .github/workflows/review-apps.yml
  CHANGELOG.md
  Roadmap.md
  internal/crawler/sitemap.go
  internal/crawler/sitemap_test.go
  internal/db/queue.go
  internal/jobs/worker.go
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration, Web Crawler, Job Management, Database Layer

Add multi-organisation support
  .claude/settings.local.json
  docs/plans/platform-auth-plan.md
  internal/api/dashboard_endpoints_test.go
  internal/api/dashboard_slowpages_test.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/jobs.go
  internal/api/jobs_create_test.go
  internal/api/jobs_retrieval_test.go
  internal/api/organisations.go
  internal/api/schedulers.go
  internal/api/share_links_test.go
  internal/api/test_mocks.go
  internal/api/webhook_endpoints_test.go
  internal/db/users.go
  internal/mocks/db.go
  supabase/migrations/20251229045502_create_organisation_members.sql
  supabase/migrations/20251229045543_backfill_organisation_members.sql
  supabase/migrations/20251229045612_add_active_organisation_id.sql
  supabase/migrations/20251229045647_create_platform_org_mappings.sql
  supabase/migrations/20251229050132_update_rls_for_multi_org.sql
Due: all, unit, integration, API Layer, Database Layer

Add Slack integration with Vault
  cmd/app/main.go
  go.mod
  go.sum
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/db/notifications.go
  internal/db/slack.go
  internal/db/users.go
  internal/jobs/worker.go
  internal/mocks/db.go
  internal/notifications/slack.go
  supabase/migrations/20251229052906_add_slack_user_id_to_users.sql
  supabase/migrations/20251229052948_switch_to_vault.sql
  supabase/migrations/20251229053019_auto_link_slack_users.sql
  supabase/migrations/20251229152731_create_slack_connections.sql
  supabase/migrations/20251229152732_create_slack_user_links.sql
  supabase/migrations/20251229152733_create_notifications.sql
  web/static/js/bb-slack.js
Due: all, unit, integration, API Layer, Job Management, Database Layer, Applications

Normalise CDN cache status headers
  CHANGELOG.md
  internal/crawler/crawler.go
  internal/crawler/crawler_test.go
Due: all, unit, integration, Web Crawler

Update changelog for Slack integration
  CHANGELOG.md
Due: none

Handle edge cases in cache status normalisation
  internal/crawler/crawler.go
  internal/crawler/crawler_test.go
Due: all, unit, integration, Web Crawler

Fix migration order and review feedback
  cmd/app/main.go
  internal/api/slack.go
  internal/jobs/worker.go
  supabase/migrations/20251229052906_add_slack_user_id_to_users.sql
  supabase/migrations/20251229052948_switch_to_vault.sql
  supabase/migrations/20251229053019_auto_link_slack_users.sql
  supabase/migrations/20251229152731_create_slack_connections.sql
  supabase/migrations/20251229152732_create_slack_user_links.sql
  supabase/migrations/20251229152733_create_notifications.sql
  supabase/migrations/20251229160000_add_slack_integration.sql
Due: all, unit, integration, API Layer, Job Management, Applications

Wire up NotifyJobFailed and fix atomic Vault storage
  internal/jobs/worker.go
  supabase/migrations/20251229160000_add_slack_integration.sql
Due: all, unit, integration, Job Management

Add Slack integration with Supabase Vault
  CHANGELOG.md
  cmd/app/main.go
  go.mod
  go.sum
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/db/notifications.go
  internal/db/slack.go
  internal/db/users.go
  internal/jobs/worker.go
  internal/mocks/db.go
  internal/notifications/slack.go
  supabase/migrations/20251229160000_add_slack_integration.sql
  web/static/js/bb-slack.js
Due: all, unit, integration, API Layer, Job Management, Database Layer, Applications

Add multi-organisation support
  .claude/settings.local.json
  CHANGELOG.md
  docs/plans/platform-auth-plan.md
  internal/api/dashboard_endpoints_test.go
  internal/api/dashboard_slowpages_test.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/jobs.go
  internal/api/jobs_create_test.go
  internal/api/jobs_retrieval_test.go
  internal/api/organisations.go
  internal/api/schedulers.go
  internal/api/share_links_test.go
  internal/api/test_mocks.go
  internal/api/webhook_endpoints_test.go
  internal/db/users.go
  internal/mocks/db.go
  supabase/migrations/20251229045502_create_organisation_members.sql
  supabase/migrations/20251229045543_backfill_organisation_members.sql
  supabase/migrations/20251229045612_add_active_organisation_id.sql
  supabase/migrations/20251229045647_create_platform_org_mappings.sql
  supabase/migrations/20251229050132_update_rls_for_multi_org.sql
Due: all, unit, integration, API Layer, Database Layer

Add multi-organisation support (#200)
  .claude/settings.local.json
  CHANGELOG.md
  docs/plans/platform-auth-plan.md
  internal/api/dashboard_endpoints_test.go
  internal/api/dashboard_slowpages_test.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/jobs.go
  internal/api/jobs_create_test.go
  internal/api/jobs_retrieval_test.go
  internal/api/organisations.go
  internal/api/schedulers.go
  internal/api/share_links_test.go
  internal/api/test_mocks.go
  internal/api/webhook_endpoints_test.go
  internal/db/users.go
  internal/mocks/db.go
  supabase/migrations/20251229045502_create_organisation_members.sql
  supabase/migrations/20251229045543_backfill_organisation_members.sql
  supabase/migrations/20251229045612_add_active_organisation_id.sql
  supabase/migrations/20251229045647_create_platform_org_mappings.sql
  supabase/migrations/20251229050132_update_rls_for_multi_org.sql
Due: all, unit, integration, API Layer, Database Layer

Add update_updated_at_column function
  supabase/migrations/20251229160000_add_slack_integration.sql
Due: none

Address CodeRabbit review feedback
  internal/api/slack.go
  internal/db/notifications.go
  internal/db/slack.go
  internal/jobs/worker.go
  internal/notifications/slack.go
Due: all, unit, integration, API Layer, Job Management, Database Layer

Add organisation switcher to dashboard
  dashboard.html
Due: none

Add wappalyzer technology detection
  go.mod
  go.sum
  internal/crawler/crawler.go
  internal/crawler/types.go
  internal/db/db.go
  internal/db/queue.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/interfaces.go
  internal/jobs/prepare_task_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
  internal/techdetect/detector.go
  internal/techdetect/detector_test.go
  supabase/migrations/20251229085305_add_domain_technology_detection.sql
Due: all, unit, integration, Web Crawler, Job Management, Database Layer

Store full HTML in Supabase Storage
  go.mod
  internal/crawler/crawler.go
  internal/crawler/types.go
  internal/db/db.go
  internal/db/queue.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/interfaces.go
  internal/jobs/prepare_task_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
  internal/storage/client.go
  supabase/migrations/20251229091500_create_tech_samples_storage.sql
Due: all, unit, integration, Web Crawler, Job Management, Database Layer

Rename storage bucket to page-crawls
  internal/jobs/worker.go
  supabase/migrations/20251229091500_create_tech_samples_storage.sql
Due: all, unit, integration, Job Management

Add storage key to review app secrets
  .github/workflows/review-apps.yml
Due: none

Address CodeRabbit review comments
  docs/plans/slack-integration.md
  internal/db/db.go
  internal/jobs/worker.go
  internal/storage/client.go
  supabase/migrations/20251229091500_create_tech_samples_storage.sql
Due: all, unit, integration, Job Management, Database Layer

Add queue nil check, remove unrelated file
  docs/plans/slack-integration.md
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Fix XSS vulnerability in org switcher
  dashboard.html
Due: none

Address CodeRabbit review comments
  dashboard.html
Due: none

Address final CodeRabbit review feedback
  internal/notifications/slack.go
  supabase/migrations/20251229160000_add_slack_integration.sql
  web/static/js/bb-slack.js
Due: all, unit, integration

Add technology detection to changelog
  CHANGELOG.md
Due: none

Fix remaining CodeRabbit issues
  dashboard.html
Due: none

Replace polling with promise-based init
  dashboard.html
Due: none

Normalise cache status & detect tech stack (#198)
  .github/workflows/review-apps.yml
  CHANGELOG.md
  go.mod
  go.sum
  internal/crawler/crawler.go
  internal/crawler/crawler_test.go
  internal/crawler/types.go
  internal/db/db.go
  internal/db/queue.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/interfaces.go
  internal/jobs/prepare_task_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
  internal/storage/client.go
  internal/techdetect/detector.go
  internal/techdetect/detector_test.go
  supabase/migrations/20251229085305_add_domain_technology_detection.sql
  supabase/migrations/20251229091500_create_tech_samples_storage.sql
Due: all, unit, integration, Web Crawler, Job Management, Database Layer

Fix BB_ACTIVE_ORG object consistency
  dashboard.html
Due: none

Add Notifications UI to dashboard
  dashboard.html
Due: none

Consolidate org switcher init into main handler
  dashboard.html
Due: none

Fix notifications button click handler
  dashboard.html
Due: none

Fix stale state reference in error fallback
  dashboard.html
Due: none

Fix notification schema column names
  internal/db/notifications.go
Due: all, unit, integration, Database Layer

Add Slack secrets to review app workflow
  .github/workflows/review-apps.yml
Due: none

Fix Slack connect handler and response field
  web/static/js/bb-dashboard-actions.js
  web/static/js/bb-slack.js
Due: none

Add organisation switcher to dashboard (#203)
  CHANGELOG.md
  dashboard.html
Due: none

Use APP_URL for Slack redirect URI
  .github/workflows/review-apps.yml
  internal/api/slack.go
Due: all, unit, integration, API Layer

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
