Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Use pooled DB connection, add perf env vars
  .fly/review_apps.toml
  .github/workflows/review-apps.yml
Due: none

Extract shared restart payload helper
  CHANGELOG.md
  web/static/js/bb-dashboard-actions.js
  web/static/js/core.js
  web/static/js/job-page.js
Due: none

Fix find_links behaviour in CHANGELOG
  CHANGELOG.md
Due: none

Restart job & Preview DB in CI [Preview app] (#190)
  .fly/review_apps.toml
  .github/workflows/review-apps.yml
  CHANGELOG.md
  internal/api/jobs.go
  internal/api/jobs_retrieval_test.go
  internal/api/test_mocks.go
  internal/jobs/manager.go
  internal/jobs/manager_startjob_test.go
  web/static/js/bb-dashboard-actions.js
  web/static/js/core.js
  web/static/js/job-page.js
Due: all, unit, integration, API Layer, Job Management

Fix cache filter logic for tasks
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Make RLS migration idempotent
  supabase/migrations/20251223222722_enable_rls_schedulers_and_sharelinks.sql
Due: none

Revert "Make RLS migration idempotent"
  supabase/migrations/20251223222722_enable_rls_schedulers_and_sharelinks.sql
Due: none

Add idempotent RLS policy migration
  supabase/migrations/20251225214354_fix_rls_policies_idempotent.sql
Due: none

Add WITH CHECK and use EXISTS
  supabase/migrations/20251225214354_fix_rls_policies_idempotent.sql
Due: none

Clarify cache filter comments
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Fix misleading cache warming comment
  internal/crawler/crawler.go
Due: all, unit, integration, Web Crawler

Dashboard tweaks (#191)
  CHANGELOG.md
  internal/api/jobs.go
  internal/crawler/crawler.go
  supabase/migrations/20251225214354_fix_rls_policies_idempotent.sql
Due: all, unit, integration, API Layer, Web Crawler

Consolidate RLS migration with fixes
  supabase/migrations/20251223222722_enable_rls_schedulers_and_sharelinks.sql
  supabase/migrations/20251225214354_fix_rls_policies_idempotent.sql
Due: none

Remove domain from test job script.
  scripts/generate-test-jobs.sh
Due: none

Prevent duplicate form handler attachment
  web/static/js/bb-auth-extension.js
Due: none

Fix seed with batch inserts
  supabase/seed.sql
Due: none

Use WeakSet for form handler tracking
  web/static/js/bb-auth-extension.js
Due: none

Stop live icon from changing to 'refreshing' constnatly.
  web/static/js/bb-auth-extension.js
Due: none

Fix scheduler FK references
  supabase/seed.sql
Due: none

Add schedulers to reset data
  internal/db/db.go
Due: all, unit, integration, Database Layer

Tweak roadmap
  Roadmap.md
Due: none

Seed docs
  docs/architecture/DATABASE.md
Due: none

Supbase seed data & few little tweaks.
  CHANGELOG.md
  docs/architecture/DATABASE.md
  web/static/js/bb-auth-extension.js
Due: none

Optimise source_url and redirect_url storage
  internal/db/queue.go
  internal/jobs/worker.go
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration, Job Management, Database Layer

Add gzip support for sitemaps
  internal/crawler/sitemap.go
  internal/crawler/sitemap_test.go
Due: all, unit, integration, Web Crawler

Update changelog and roadmap
  CHANGELOG.md
  Roadmap.md
Due: none

Address CodeRabbit feedback
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration

Default preview apps, skip with [preview skip]
  .github/workflows/review-apps.yml
Due: none

Deploy preview apps to Sydney region
  .fly/review_apps.toml
  .github/workflows/review-apps.yml
Due: none

Fix: remove invalid --region flag
  .github/workflows/review-apps.yml
Due: none
