Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Clean up GA4 code and comments
  internal/api/google_data_api.go
  internal/db/db.go
Due: all, unit, integration, API Layer, Database Layer

Update changelog for page analytics
  CHANGELOG.md
Due: none

Fix GA4 fetching to loop until complete
  CHANGELOG.md
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Increase GA4 batch size to 100k
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Use 1k batches until 10k threshold
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Reduce GA4 batch size to 50k for memory
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Add traffic-based task prioritisation
  internal/api/google_data_api.go
  internal/api/handlers.go
  internal/db/db.go
  internal/db/queue.go
  internal/jobs/worker.go
  supabase/migrations/20260129133319_add_traffic_score_column.sql
Due: all, unit, integration, API Layer, Job Management, Database Layer

Update changelog with traffic prioritisation
  CHANGELOG.md
Due: none

Address CodeRabbit review comments
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Add domain format validation
  internal/api/jobs.go
  internal/api/schedulers.go
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration, API Layer

Use publicsuffix for domain validation
  go.mod
  go.sum
  internal/util/url.go
  internal/util/url_test.go
Due: all, unit, integration

Add GA4 accounts store and refresh
  internal/api/auth_google.go
  internal/api/handlers.go
  internal/db/google_connections.go
  supabase/migrations/20260129212252_add_ga_account_vault_functions.sql
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer, Database Layer

Add searchable GA4 account selector UI
  dashboard.html
  web/static/js/bb-google.js
Due: none

Simplify account selector to show in input
  dashboard.html
  web/static/js/bb-google.js
Due: none

Fix account selection to use pending session
  web/static/js/bb-google.js
Due: none

Add endpoint to fetch properties with stored token
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Domains endpoint
  .claude/settings.local.json
  .serena/project.yml
  docs/plans/application-review-2025-01.md
  docs/plans/memory-telemetry-optimisation.md
  internal/api/domains.go
  internal/api/handlers.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Move doc
  docs/research/2026-01/application-review-2026-01.md
Due: none

Handle GA auth wait and retry
  web/static/js/bb-google.js
Due: none

Store GA tokens for accounts
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Fallback to connection token
  internal/api/auth_google.go
  internal/api/handlers.go
  internal/db/google_connections.go
Due: all, unit, integration, API Layer, Database Layer

Boost traffic scores and reprioritise
  internal/api/google_data_api.go
  internal/api/handlers.go
  internal/db/db.go
  internal/jobs/manager.go
Due: all, unit, integration, API Layer, Job Management, Database Layer

Update changelog for GA4 work
  CHANGELOG.md
Due: none

Refine GA paths and logging
  CHANGELOG.md
  internal/api/auth_google.go
  internal/api/google_data_api.go
  internal/db/db.go
Due: all, unit, integration, API Layer, Database Layer

Enforce LF line endings
  .gitattributes
Due: none

Add organisation roles and invites
  internal/api/handlers.go
  internal/api/organisations.go
  internal/db/organisations.go
  internal/db/users.go
  internal/mocks/db.go
  supabase/migrations/20260131100000_add_org_roles_and_invites.sql
Due: all, unit, integration, API Layer, Database Layer

Add settings page and redirects
  dashboard.html
  internal/api/auth_google.go
  internal/api/auth_webflow.go
  internal/api/oauth_utils.go
  internal/api/slack.go
  settings.html
  web/static/js/bb-google.js
  web/static/js/bb-settings.js
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer

Harden tests for Windows timing
  internal/api/middleware_test.go
  internal/auth/auth_test.go
Due: all, unit, integration, API Layer, Authentication

Fix lint issues in auth
  internal/api/oauth_utils.go
  internal/api/organisations.go
  internal/auth/auth_test.go
Due: all, unit, integration, API Layer, Authentication

Format settings assets with Prettier
  settings.html
  web/static/js/bb-google.js
  web/static/js/bb-settings.js
Due: none

Return plan ID in usage stats
  internal/db/users.go
  supabase/migrations/20260131124500_update_usage_stats_plan_id.sql
Due: all, unit, integration, Database Layer

Restrict invite policies to admins
  supabase/migrations/20260131100000_add_org_roles_and_invites.sql
Due: none

Validate invites and add timeout
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Polish settings integrations
  internal/api/slack.go
  web/static/js/bb-settings.js
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer

Drop usage stats function first
  supabase/migrations/20260131124500_update_usage_stats_plan_id.sql
Due: none

Remove application review draft
  docs/research/2026-01/application-review-2026-01.md
Due: none

Raise GA traffic score floor
  CHANGELOG.md
  internal/db/db.go
Due: all, unit, integration, Database Layer

Ignore low-view analytics scores
  CHANGELOG.md
  internal/db/db.go
Due: all, unit, integration, Database Layer

Expose GA views in job exports
  CHANGELOG.md
  internal/api/jobs.go
  web/static/js/job-page.js
Due: all, unit, integration, API Layer

Pin Go workflows and tidy docs
  .github/workflows/fly-deploy.yml
  .github/workflows/review-apps.yml
  .github/workflows/test.yml
  .serena/project.yml
  docs/plans/memory-telemetry-optimisation.md
Due: none

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
