Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Sanitize profile name save logs
  web/static/js/bb-settings.js
Due: none

Sanitize member role update logs
  web/static/js/bb-settings.js
Due: none

Remove SAML from auth UI
  auth-modal.html
  web/static/js/bb-settings.js
Due: none

Add first and last name support
  auth-modal.html
  internal/api/auth.go
  internal/api/handlers.go
  internal/api/organisations.go
  internal/db/organisations.go
  internal/db/users.go
  internal/mocks/db.go
  settings.html
  supabase/migrations/20260214103000_add_user_first_last_name.sql
  web/static/js/auth.js
  web/static/js/bb-settings.js
Due: all, unit, integration, API Layer, Database Layer

Use rune counts for name limits
  internal/api/auth.go
Due: all, unit, integration, API Layer

Fallback inviter name from split claims
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Add accessible last-name input label
  settings.html
Due: none

Handle empty names in backfill migration
  supabase/migrations/20260214103000_add_user_first_last_name.sql
Due: none

Log failed claim name sync
  internal/api/auth.go
Due: all, unit, integration, API Layer

Document deriveNameParts tradeoffs
  internal/api/auth.go
Due: all, unit, integration, API Layer

Refactor and log claim name derivation
  internal/api/auth.go
Due: all, unit, integration, API Layer

Bind page upsert array with pq.Array
  internal/db/pages.go
Due: all, unit, integration, Database Layer

Deduplicate page paths within each upsert batch
  internal/db/pages.go
Due: all, unit, integration, Database Layer

Document no-op upsert RETURNING behavior
  internal/db/pages.go
Due: all, unit, integration, Database Layer

Add changelog entry for batch upsert fixes
  CHANGELOG.md
Due: none

Add Paddle billing and quota finalization
  .env.example
  .github/workflows/review-apps.yml
  internal/api/billing.go
  internal/api/errors.go
  internal/api/handlers.go
  internal/api/jobs.go
  internal/jobs/manager.go
  settings.html
  supabase/migrations/20260214103000_add_paddle_billing_tables.sql
  web/static/js/bb-data-binder.js
  web/static/js/bb-settings.js
Due: all, unit, integration, API Layer, Job Management

Use unique timestamp for Paddle migration
  supabase/migrations/20260214103100_add_paddle_billing_tables.sql
Due: none

Add Webflow extension popup auth bridge
  .github/workflows/fly-deploy.yml
  .github/workflows/review-apps.yml
  .github/workflows/test.yml
  .github/workflows/webflow-extension.yml
  docs/architecture/webflow-designer-extension.md
  extension-auth.html
  internal/api/handlers.go
  web/static/js/auth.js
  web/static/js/core.js
  webflow-designer-extension-cli/.eslintrc
  webflow-designer-extension-cli/README.md
  webflow-designer-extension-cli/package.json
  webflow-designer-extension-cli/public/index.html
  webflow-designer-extension-cli/public/index.js
  webflow-designer-extension-cli/public/styles.css
  webflow-designer-extension-cli/src/index.ts
  webflow-designer-extension-cli/tsconfig.json
  webflow-designer-extension-cli/webflow.json
Due: all, unit, integration, API Layer

Harden extension auth and token handling
  docs/architecture/webflow-designer-extension.md
  web/static/js/auth.js
  webflow-designer-extension-cli/.gitignore
  webflow-designer-extension-cli/README.md
  webflow-designer-extension-cli/package.json
  webflow-designer-extension-cli/public/index.js
  webflow-designer-extension-cli/src/index.ts
Due: none
