Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Ensure promote function signature clean
  supabase/migrations/20260107093000_ensure_promote_function_signature_clean.sql
Due: none

Fix GA modal ID to notificationsModal
  web/static/js/bb-auth-extension.js
  web/static/js/bb-google.js
Due: none

Add debug logging to GA OAuth
  web/static/js/bb-google.js
Due: none

Fix quota increment on task completion
  dashboard.html
  internal/db/batch.go
  internal/db/queue.go
  supabase/migrations/20260107095446_fix_quota_increment_on_completion.sql
Due: all, unit, integration, Database Layer

Fix vault extension for preview branches
  supabase/migrations/20251229155959_enable_vault_extension.sql
  supabase/migrations/20251229160000_add_slack_integration.sql
Due: none

Grant GA vault function permissions
  .claude/settings.local.json
  supabase/migrations/20260107211406_grant_ga_vault_permissions.sql
Due: none

Count in-flight tasks in quota remaining
  supabase/migrations/20260107110000_quota_count_inflight_tasks.sql
Due: none

Fix GA delete trigger conflict
  supabase/migrations/20260107212044_fix_ga_delete_trigger.sql
Due: none

Reduce free plan quota to 600
  supabase/migrations/20260107111000_reduce_free_quota_for_testing.sql
Due: none

Reduce dashboard fallback to 1 second
  dashboard.html
Due: none

Fix GA vault function ownership
  supabase/migrations/20260107213127_fix_ga_vault_ownership.sql
Due: none

Lock org row to prevent quota race
  .claude/settings.local.json
  internal/db/queue.go
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Fix quota bypass when remaining is negative
  internal/db/queue.go
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Use Vault API instead of direct table
  supabase/migrations/20260107214048_fix_ga_vault_api_only.sql
Due: none

Add quota promotion monitor for waiting tasks
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Promote multiple waiting tasks per cycle
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Handle pending jobs in quota promotion monitor
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Fix timeout logic for quota-blocked jobs
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Refine timeout: only skip if over quota
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Add two-step GA account/property flow
  internal/api/auth_google.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/test_mocks.go
  internal/db/google_connections.go
  internal/mocks/db.go
  supabase/migrations/20260107222655_add_ga_accounts_and_status.sql
Due: all, unit, integration, API Layer, Database Layer

Add org row locking for quota enforcement
  internal/db/queue.go
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Add frontend for GA account/property selection
  web/static/js/bb-google.js
Due: none

Fix: increment usage before promotion check
  internal/db/batch.go
Due: all, unit, integration, Database Layer

Revert unnecessary org row locking
  internal/db/queue.go
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Fix URL-encoded account ID parsing
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

URL-encode Google API filter parameter
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Add debug logging for GA property fetch
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Fix quota display polling on page load
  dashboard.html
Due: none

Fix action handler conflict for integrations
  web/static/js/bb-dashboard-actions.js
Due: none

Fix quota init timing with delayed check
  dashboard.html
Due: none

Add debug logging for GA property fetch
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Use Info level for GA debug logs
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Add routing condition debug logging
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Fix property endpoint URL decoding
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Add quota check to GetNextTask
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Add GA property status toggles
  dashboard.html
  web/static/js/bb-google.js
Due: none

Include status in connection response
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Remove quota check from GetNextTask
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Skip golangci config verification
  .github/workflows/test.yml
Due: none

Add completed-pages quota check to GetNextTask
  internal/db/queue.go
  supabase/migrations/20260124060000_add_quota_usage_check.sql
Due: all, unit, integration, Database Layer
