Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Remove dashboard refresh logs.
  web/static/js/bb-auth-extension.js
Due: none

Fix job task filters
  web/static/js/job-page.js
Due: none

Remove irrelevant password strength check logging
  web/static/js/auth.js
Due: none

Capture updates, bump version.
  CHANGELOG.md
Due: none

Cache bust JS
  cli-login.html
  dashboard.html
  homepage.html
  web/templates/job-details.html
Due: none

Add job metadata to details page
  internal/api/jobs.go
  internal/api/jobs_retrieval_test.go
  internal/api/share_links_test.go
  web/static/js/job-page.js
  web/templates/job-details.html
Due: all, unit, integration, API Layer

Remove duplicate schedulerID assignment
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Add changelog for job metadata
  CHANGELOG.md
Due: none

Improve Scan readability, add test assertions
  internal/api/jobs.go
  internal/api/share_links_test.go
Due: all, unit, integration, API Layer

Enable RLS on schedulers and sharelinks
  supabase/migrations/20251223222722_enable_rls_schedulers_and_sharelinks.sql
Due: none

Add camelCase fallback for concurrency
  web/static/js/job-page.js
Due: none

Faster adaptive delay probing
  internal/jobs/domain_limiter.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Remove playwright references.
  CHANGELOG.md
  CLAUDE.md
  scripts/generate-test-jobs.sh
Due: none

Fix type safety and RLS security issues
  supabase/migrations/20251223222722_enable_rls_schedulers_and_sharelinks.sql
  web/static/js/job-page.js
Due: none

Add delay step env var, reduce lock contention
  internal/jobs/domain_limiter.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Add rate limiting changelog entry
  CHANGELOG.md
Due: none

Add 50% robots.txt delay multiplier
  internal/jobs/domain_limiter.go
Due: all, unit, integration, Job Management

Remove comments
  internal/jobs/domain_limiter.go
Due: all, unit, integration, Job Management

Fix multiplier to override stored delay
  internal/jobs/domain_limiter.go
Due: all, unit, integration, Job Management

Use default * rules, ignore SEO bot rules
  internal/crawler/robots.go
  internal/crawler/robots_test.go
Due: all, unit, integration, Web Crawler

Add /restart and /cancel endpoints
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Fix CancelJob to return DB errors
  internal/jobs/manager.go
  internal/jobs/manager_canceljob_test.go
Due: all, unit, integration, Job Management

Notify workers immediately after task creation
  internal/jobs/manager.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Fix cancel job race condition
  internal/jobs/worker.go
  supabase/migrations/20251224111425_fix_cancel_job_status_preservation.sql
Due: all, unit, integration, Job Management

Fix cancel job race condition (#186)
  CHANGELOG.md
  internal/jobs/worker.go
  supabase/migrations/20251224111425_fix_cancel_job_status_preservation.sql
Due: all, unit, integration, Job Management

Fix restart job to return new job ID
  internal/api/handlers.go
  internal/api/jobs.go
  internal/api/jobs_retrieval_test.go
  internal/api/test_mocks.go
  internal/api/webhook_endpoints_test.go
  internal/jobs/manager.go
  internal/jobs/manager_startjob_test.go
Due: all, unit, integration, API Layer, Job Management

Add changelog and deadlock retry fix
  CHANGELOG.md
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Remove dead StartJob call from webhook handler
  internal/api/handlers.go
  internal/api/webhook_endpoints_test.go
Due: all, unit, integration, API Layer

Fix restart job to return new job ID [preview app] (#187)
  CHANGELOG.md
  internal/api/handlers.go
  internal/api/jobs.go
  internal/api/jobs_retrieval_test.go
  internal/api/test_mocks.go
  internal/api/webhook_endpoints_test.go
  internal/db/queue.go
  internal/jobs/manager.go
  internal/jobs/manager_startjob_test.go
Due: all, unit, integration, API Layer, Job Management, Database Layer

Test Supabase preview branch integration [preview app]
  .github/workflows/review-apps.yml
Due: none

Add Supabase preview branch integration to CI
  .github/workflows/review-apps.yml
Due: none

Extract DB password from existing DATABASE_URL secret
  .github/workflows/review-apps.yml
Due: none

Simplify restart to use standard job creation
  CHANGELOG.md
  internal/api/jobs.go
  internal/api/jobs_retrieval_test.go
  internal/api/test_mocks.go
  internal/jobs/manager.go
  internal/jobs/manager_startjob_test.go
  web/static/js/bb-dashboard-actions.js
  web/static/js/job-page.js
Due: all, unit, integration, API Layer, Job Management

Address CodeRabbit review feedback
  .github/workflows/review-apps.yml
  CHANGELOG.md
Due: none

Use JSON output for Supabase branch parsing
  .github/workflows/review-apps.yml
Due: none

Improve database config error message
  .github/workflows/review-apps.yml
Due: none

Add debug logging for Supabase branch JSON
  .github/workflows/review-apps.yml
Due: none

Use POSTGRES_URL_NON_POOLING from Supabase
  .github/workflows/review-apps.yml
Due: none

Address CodeRabbit review feedback
  CHANGELOG.md
  internal/api/jobs.go
  internal/api/jobs_retrieval_test.go
  web/static/js/bb-dashboard-actions.js
  web/static/js/job-page.js
Due: all, unit, integration, API Layer

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
