Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Add im:write scope for Slack DMs
  internal/api/slack.go
Due: all, unit, integration, API Layer

Use APP_URL for OAuth dashboard redirect
  internal/api/slack.go
Due: all, unit, integration, API Layer

Add email lookup for Slack user linking
  internal/api/slack.go
Due: all, unit, integration, API Layer

Include user and org IDs in GetJob
  internal/jobs/manager.go
  internal/jobs/manager_getjob_test.go
  internal/jobs/test_helpers.go
Due: all, unit, integration, Job Management

Add create organisation feature
  dashboard.html
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/organisations.go
  internal/api/test_mocks.go
  internal/mocks/db.go
Due: all, unit, integration, API Layer

Update CancelJob tests for GetJob columns
  internal/jobs/manager_canceljob_test.go
Due: all, unit, integration, Job Management

Fix org dropdown and CodeRabbit feedback
  dashboard.html
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Show org switcher with no orgs
  dashboard.html
Due: none

Fix duplicate listeners and add a11y
  dashboard.html
Due: none

Update changelog for org switcher
  CHANGELOG.md
Due: none

Include skipped tasks in remainingWork
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Consolidate DOMContentLoaded handlers
  dashboard.html
Due: none

Add create organisation feature (#204)
  CHANGELOG.md
  dashboard.html
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/organisations.go
  internal/api/test_mocks.go
  internal/mocks/db.go
Due: all, unit, integration, API Layer

Fix CleanupStuckJobs skipped tasks check
  internal/db/queue.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Create notifications via database trigger
  internal/jobs/worker.go
  supabase/migrations/20251230054537_add_notification_trigger_on_job_complete.sql
Due: all, unit, integration, Job Management

Add pg_notify for real-time notifications
  cmd/app/main.go
  internal/notifications/listener.go
  supabase/migrations/20251230054537_add_notification_trigger_on_job_complete.sql
Due: all, unit, integration, Applications

Fix job status notifications via trigger
  cmd/app/main.go
  internal/jobs/worker.go
  supabase/migrations/20251230063341_add_job_status_notification_trigger.sql
Due: all, unit, integration, Job Management, Applications

Address CodeRabbit review nitpicks
  internal/api/slack.go
  internal/notifications/listener.go
  web/static/js/bb-slack.js
Due: all, unit, integration, API Layer

Fix notification UUID type mismatch
  supabase/migrations/20251230063341_add_job_status_notification_trigger.sql
  supabase/migrations/20251230080500_fix_notification_uuid_type.sql
Due: none

Fix Slack modal UI issues
  dashboard.html
  internal/api/slack.go
  web/static/js/bb-slack.js
Due: all, unit, integration, API Layer

Fix empty state ID mismatch
  web/static/js/bb-slack.js
Due: none

Simplify Slack UI to connect/disconnect only
  dashboard.html
  web/static/js/bb-slack.js
Due: none

Fix notification delivery with pooler
  cmd/app/main.go
Due: all, unit, integration, Applications

Fix token access for disconnect/link
  web/static/js/bb-slack.js
Due: none

Support DATABASE_DIRECT_URL for realtime
  internal/notifications/listener.go
Due: all, unit, integration

Add DATABASE_DIRECT_URL to preview apps
  .github/workflows/review-apps.yml
Due: none

Standardise notification fields and remove dead code
  internal/db/notifications.go
  internal/notifications/slack.go
  supabase/migrations/20251230103223_standardise_notification_fields.sql
Due: all, unit, integration, Database Layer

Support absolute URLs in notification links
  internal/notifications/slack.go
Due: all, unit, integration

Add detailed stats to job notifications
  internal/notifications/slack.go
  supabase/migrations/20251230110416_update_notification_with_job_stats.sql
Due: all, unit, integration

Consolidate Slack notification migrations
  supabase/migrations/20251229160000_add_slack_integration.sql
  supabase/migrations/20251230054537_add_notification_trigger_on_job_complete.sql
  supabase/migrations/20251230063341_add_job_status_notification_trigger.sql
  supabase/migrations/20251230080500_fix_notification_uuid_type.sql
  supabase/migrations/20251230103223_standardise_notification_fields.sql
  supabase/migrations/20251230111012_add_job_notification_trigger.sql
Due: none

Fix review-apps URL parsing & secrets
  .github/workflows/review-apps.yml
Due: none

Add error handling to Slack modal
  dashboard.html
Due: none

Move Slack env vars to runtime reads
  internal/api/slack.go
Due: all, unit, integration, API Layer

Log JSON decode errors in link-user
  internal/api/slack.go
Due: all, unit, integration, API Layer

Add pagination to Slack GetUsers
  internal/api/slack.go
Due: all, unit, integration, API Layer

Use sha256.Size constant
  internal/api/slack.go
Due: all, unit, integration, API Layer

Add rows.Err and RowsAffected checks
  internal/db/notifications.go
Due: all, unit, integration, Database Layer

Fix direct DB URL handling in CI
  .github/workflows/review-apps.yml
  internal/notifications/listener.go
Due: all, unit, integration

Use POSTGRES_URL_NON_POOLING for direct URL
  .github/workflows/review-apps.yml
Due: none

Use Slack button for view details
  internal/notifications/slack.go
Due: all, unit, integration

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
