Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Add debug logging to realtime refresh
  web/static/js/bb-auth-extension.js
Due: none

Fix multi-org RLS idempotency
  supabase/migrations/20251229050132_update_rls_for_multi_org.sql
Due: none

Add workspace name to Webflow connections
  internal/api/auth_webflow.go
  internal/db/webflow_connections.go
  supabase/migrations/20260102090000_add_webflow_workspace_name.sql
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer, Database Layer

Add CASCADE delete to FK constraints
  supabase/migrations/20240101000000_initial_schema.sql
  supabase/migrations/20251111140000_create_schedulers_table.sql
Due: none

Add refresh lock and cache bust version
  dashboard.html
  web/static/js/bb-auth-extension.js
  web/templates/job-details.html
Due: none

Simplify seed to essential reference data
  supabase/seed.sql
Due: none

Include schedulers in seed data
  supabase/seed.sql
Due: none

Fix vault permissions for preview branches
  supabase/migrations/20260102100000_fix_vault_permissions.sql
Due: none

Use workspaces list endpoint for name
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Remove debug logs from realtime debounce
  .claude/settings.local.json
  dashboard.html
  package-lock.json
  web/static/js/bb-auth-extension.js
  web/templates/job-details.html
Due: none

Load Webflow connections when modal opens
  dashboard.html
Due: none

Switch from debounce to throttle for realtime
  dashboard.html
  web/static/js/bb-auth-extension.js
  web/templates/job-details.html
Due: none

Ignore worktrees directory
  .gitignore
Due: none

Add workspaces:read scope for name
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Trigger CI
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Add throttling to job page realtime updates
  web/static/js/job-page.js
  web/templates/job-details.html
Due: none

Tidy comment formatting
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Reduce realtime throttle to 1 second
  dashboard.html
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
  web/templates/job-details.html
Due: none

Use sites endpoint for workspace info
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Reduce realtime throttle to 250ms
  .claude/settings.local.json
  dashboard.html
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
  web/templates/job-details.html
Due: none

Remove cache bust version strings
  .claude/settings.local.json
  cli-login.html
  dashboard.html
  homepage.html
  web/templates/job-details.html
Due: none

Use authorized user name for connection
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Update docs for Webflow OAuth PR
  CHANGELOG.md
  Roadmap.md
Due: none

Update plans
  .claude/settings.local.json
  Roadmap.md
  docs/plans/1password-secrets-integration.md
  docs/plans/supabase-simplification.md
Due: none

Address CodeRabbit review comments
  internal/api/auth_webflow.go
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer

Fix vault atomicity and UI consistency
  dashboard.html
  supabase/migrations/20260103043021_fix_webflow_vault_atomicity.sql
Due: none

Fix Australian spelling in comments
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Fix CodeRabbit review issues
  CHANGELOG.md
  dashboard.html
  supabase/migrations/20260103043021_fix_webflow_vault_atomicity.sql
Due: none

Use consistent HTTP status codes
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Fix vault race condition and data loss
  supabase/migrations/20260103043021_fix_webflow_vault_atomicity.sql
Due: none

Validate connection in exception handler
  supabase/migrations/20260103043021_fix_webflow_vault_atomicity.sql
Due: none

Feat: Webflow authentication integration (#210)
  .env.example
  .github/workflows/review-apps.yml
  .gitignore
  .trivyignore
  CHANGELOG.md
  Roadmap.md
  dashboard.html
  internal/api/auth_webflow.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/oauth_utils.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/db/users.go
  internal/db/webflow_connections.go
  internal/mocks/db.go
  supabase/migrations/20260101193800_add_webflow_integration.sql
  supabase/migrations/20260102090000_add_webflow_workspace_name.sql
  supabase/migrations/20260102100000_fix_vault_permissions.sql
  supabase/migrations/20260103043021_fix_webflow_vault_atomicity.sql
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer, Database Layer

Fix org switch data refresh
  dashboard.html
Due: none

Fix seed.sql stale column refs
  supabase/seed.sql
Due: none

Fix seed.sql organisation_members cols
  supabase/seed.sql
Due: none

Fix seed.sql auth.identities email col
  supabase/seed.sql
Due: none

Simplify auth.users seed columns
  supabase/seed.sql
Due: none

Regenerate seed from production
  supabase/seed.sql
Due: none

Fix notifications modal ID
  dashboard.html
Due: none

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
