Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Add notifications dropdown and API
  .github/workflows/review-apps.yml
  dashboard.html
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/notifications.go
  internal/api/test_mocks.go
  internal/mocks/db.go
Due: all, unit, integration, API Layer

Add notifications dropdown to changelog
  CHANGELOG.md
Due: none

Add realtime notifications via Broadcast
  dashboard.html
  internal/api/middleware.go
  supabase/migrations/20251231050000_notifications_realtime_broadcast.sql
Due: all, unit, integration, API Layer

Fix broadcast to use private channels
  dashboard.html
  supabase/migrations/20251231203515_fix_notification_broadcast_private.sql
Due: none

Fix realtime RLS to check org membership
  supabase/migrations/20251231204613_fix_realtime_rls_org_check.sql
Due: none

Switch to public broadcast channels
  dashboard.html
  supabase/migrations/20251231205041_use_public_broadcast_channels.sql
Due: none

Use postgres_changes for realtime
  dashboard.html
Due: none

Enable postgres_changes for notifications
  supabase/migrations/20251231214923_enable_notifications_realtime.sql
Due: none

Remove superseded realtime migrations
  supabase/migrations/20251231050000_notifications_realtime_broadcast.sql
  supabase/migrations/20251231203515_fix_notification_broadcast_private.sql
  supabase/migrations/20251231204613_fix_realtime_rls_org_check.sql
  supabase/migrations/20251231205041_use_public_broadcast_channels.sql
Due: none

Address CodeRabbit security review
  dashboard.html
  internal/api/slack.go
  internal/notifications/slack.go
Due: all, unit, integration, API Layer

Add Slack integration and realtime notifications
  .github/workflows/review-apps.yml
  CHANGELOG.md
  cmd/app/main.go
  dashboard.html
  go.mod
  go.sum
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/middleware.go
  internal/api/notifications.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/db/notifications.go
  internal/db/queue.go
  internal/db/slack.go
  internal/db/users.go
  internal/jobs/manager.go
  internal/jobs/manager_canceljob_test.go
  internal/jobs/manager_getjob_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker.go
  internal/mocks/db.go
  internal/notifications/listener.go
  internal/notifications/slack.go
  supabase/migrations/20251229160000_add_slack_integration.sql
  supabase/migrations/20251230111012_add_job_notification_trigger.sql
  supabase/migrations/20251231214923_enable_notifications_realtime.sql
  web/static/js/bb-dashboard-actions.js
  web/static/js/bb-slack.js
Due: all, unit, integration, API Layer, Job Management, Database Layer, Applications

Add Slack integration and realtime notifications (#207)
  .github/workflows/review-apps.yml
  CHANGELOG.md
  cmd/app/main.go
  dashboard.html
  go.mod
  go.sum
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/middleware.go
  internal/api/notifications.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/db/notifications.go
  internal/db/queue.go
  internal/db/slack.go
  internal/db/users.go
  internal/jobs/manager.go
  internal/jobs/manager_canceljob_test.go
  internal/jobs/manager_getjob_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker.go
  internal/mocks/db.go
  internal/notifications/listener.go
  internal/notifications/slack.go
  supabase/migrations/20251229160000_add_slack_integration.sql
  supabase/migrations/20251230111012_add_job_notification_trigger.sql
  supabase/migrations/20251231214923_enable_notifications_realtime.sql
  web/static/js/bb-dashboard-actions.js
  web/static/js/bb-slack.js
Due: all, unit, integration, API Layer, Job Management, Database Layer, Applications

Add delay for realtime notification update
  dashboard.html
Due: none

Update roadmap and changelog for Slack and realtime
  CHANGELOG.md
  Roadmap.md
Due: none

Add Supabase Realtime documentation
  README.md
  Roadmap.md
  docs/development/SUPABASE-REALTIME.md
Due: none

Add realtime section to architecture doc
  docs/architecture/ARCHITECTURE.md
Due: none

Agent bits
  .claude/commands/load-test.md
  .claude/commands/monitor.md
  .claude/skills/api-responses/SKILL.md
  .claude/skills/database-migrations/SKILL.md
  .claude/skills/function-design/SKILL.md
  .claude/skills/structured-logging/SKILL.md
  .claude/skills/worker-pool/SKILL.md
Due: none

implement realtime updates for dashboard jobs
  dashboard.html
  supabase/migrations/20260101130000_enable_jobs_realtime.sql
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
Due: none

chore: security hardening (secrets, docker user, linter)
  .golangci.yml
  Dockerfile
  scripts/auth/config.py
  scripts/security-check.sh
Due: none

fix: enable replica identity full for jobs table
  supabase/migrations/20260101140000_set_jobs_replica_identity_full.sql
Due: none

fix: add simple RLS policy for realtime performance
  supabase/migrations/20260101150000_add_simple_jobs_policy.sql
Due: none

chore: add eslint security scanning for frontend
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/security-check.sh
Due: none

fix: correct user_id type in RLS policy
  supabase/migrations/20260101150000_add_simple_jobs_policy.sql
Due: none

fix: reduce fallback polling interval to 5s
  dashboard.html
Due: none

fix: preload active org to ensure realtime subscription
  dashboard.html
Due: none

debug: remove realtime filters to isolate event delivery issue
  web/static/js/bb-auth-extension.js
Due: none

debug: remove filter from job page subscription
  web/static/js/job-page.js
Due: none

debug: use single catch-all listener for realtime events
  web/static/js/bb-auth-extension.js
Due: none

fix: consolidate realtime debug listener and track channel
  web/static/js/bb-auth-extension.js
Due: none

fix: restore scoped realtime filters for production merge
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
Due: none

Fix security vulnerabilities and integrate security stack
  .githooks/pre-commit
  cmd/app/main.go
  cmd/app/main_test.go
  go.mod
  go.sum
  internal/api/admin_test.go
  internal/api/auth_middleware_test.go
  internal/api/dashboard_test.go
  internal/api/handlers_simple_test.go
  internal/api/middleware_test.go
  internal/api/webhook_test.go
  internal/auth/auth_test.go
  internal/crawler/crawler.go
  internal/crawler/crawler_test.go
  internal/crawler/sitemap.go
  internal/crawler/sitemap_test.go
  internal/db/dashboard.go
  internal/db/db_test.go
  internal/db/notifications.go
  internal/db/queue.go
  internal/db/reset_migrations.go
  internal/jobs/worker.go
Due: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

feat: add retry limit to dashboard realtime subscription
  web/static/js/bb-auth-extension.js
Due: none

refactor: export subscribeToJobUpdates in module.exports
  web/static/js/bb-auth-extension.js
Due: none

refactor: move subscribeToJobProgress to top-level
  web/static/js/job-page.js
Due: none

fix: add window.supabase check in cleanup handler
  web/static/js/job-page.js
Due: none

perf: reduce fallback polling frequency to 60s
  dashboard.html
Due: none

feat: implement Webflow authentication integration
  .env.example
  .gitignore
  dashboard.html
  internal/api/auth_webflow.go
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/oauth_utils.go
  internal/api/slack.go
  internal/api/test_mocks.go
  internal/db/users.go
  internal/db/webflow_connections.go
  internal/mocks/db.go
  supabase/migrations/20260101193800_add_webflow_integration.sql
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer, Database Layer

refactor: standardise OAuth redirection logic
  internal/api/auth_webflow.go
  internal/api/oauth_utils.go
  internal/api/slack.go
Due: all, unit, integration, API Layer

Fix realtime subscription on organisation switch
  dashboard.html
Due: none

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
