Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

pg_stat_statements
  supabase/migrations/20251012070000_enable_pg_stat_statements.sql
Due: none

Progress docs
  docs/architecture/DATABASE.md
  docs/research/2025-10/EVALUATION.md
Due: none

Fix formatting
  docs/research/2025-10/EVALUATION.md
Due: none

Update plan
  docs/research/2025-10/EVALUATION.md
Due: none

Adjust review apps to skip .md. Update eval plan.
  .github/workflows/review-apps.yml
  docs/research/2025-10/EVALUATION.md
Due: none

Remove query performance task
  docs/research/2025-10/EVALUATION.md
Due: none

OpenTelemetry traces + Prometheus metrics wired into app + worker pool
  .gitignore
  cmd/app/main.go
  docs/architecture/API.md
  docs/research/2025-10/EVALUATION.md
  go.mod
  go.sum
  internal/jobs/worker.go
  internal/observability/observability.go
Due: all, unit, integration, Job Management, Applications

alloy.river
  .gitignore
Due: none

Changelog/docs
  .github/workflows/auto-release.yml
  CHANGELOG.md
  docs/architecture/API.md
Due: none

Linting fix.
  internal/observability/observability.go
Due: all, unit, integration

Linting
  internal/observability/observability.go
Due: all, unit, integration

Fix migration: remove CONCURRENTLY from DO block
  supabase/migrations/20251012060206_idx_tasks_running_started_at.sql
Due: none

Remove unsupported IO timing columns
  supabase/migrations/20251012070000_enable_pg_stat_statements.sql
Due: none

Fix nested timeout check bug
  docs/architecture/DATABASE.md
  internal/db/db.go
Due: all, unit, integration, Database Layer

Tiny tweaks/cleanup
  docs/architecture/DATABASE.md
  internal/jobs/manager.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Remove unused indexes.
  supabase/migrations/20251013103326_drop_unused_job_indexes.sql
Due: none

3 high-impact composite indexes
  supabase/migrations/20251013104047_add_composite_indexes_for_query_optimisation.sql
Due: none

Clean logging documentation
  CLAUDE.md
Due: none

Changelog + docs updates
  CHANGELOG.md
  docs/architecture/DATABASE.md
Due: none

Remove gocache/gomodcache
  .gitignore
Due: none

Logging definition tweak
  CLAUDE.md
Due: none

Enforce logging standards across API
  internal/api/admin.go
  internal/api/auth.go
  internal/api/handlers.go
  internal/api/jobs.go
  internal/api/logging.go
  internal/api/share_links.go
  internal/jobs/worker.go
Due: all, unit, integration, API Layer, Job Management

Test Fix: job non-existent-job not found
  internal/jobs/manager_getjob_test.go
Due: all, unit, integration, Job Management

Correct migration
  supabase/migrations/20251013103326_drop_unused_job_indexes.sql
Due: none

Adjust migrations
  supabase/migrations/20251013103326_drop_unused_job_indexes.sql
  supabase/migrations/20251013104047_add_composite_indexes_for_query_optimisation.sql
Due: none

Patch grpc version
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Update evaluation status
  docs/research/2025-10/EVALUATION.md
Due: none

Defer runtime profiling task
  docs/research/2025-10/EVALUATION.md
Due: none

Change Supbase JWT method
  .env.example
  CHANGELOG.md
  docs/plans/jwt-signing-keys-migration.md
  go.mod
  go.sum
  internal/auth/auth_test.go
  internal/auth/config.go
  internal/auth/middleware.go
  internal/mocks/auth_client.go
Due: all, unit, integration, Authentication

chore/env-supabase-naming
  .env.example
  CHANGELOG.md
  docs/research/2025-10/articles/metrics/Supabase-performance.csv
  internal/auth/auth_test.go
  internal/auth/config.go
  internal/auth/middleware.go
  internal/mocks/auth_client.go
Due: all, unit, integration, Authentication

Fix JWKS endpoint path
  internal/auth/auth_test.go
  internal/auth/middleware.go
Due: all, unit, integration, Authentication

Fix server bind address for Fly.io
  cmd/app/main.go
Due: all, unit, integration, Applications

Revert "Fix server bind address for Fly.io"
  cmd/app/main.go
Due: all, unit, integration, Applications

Maintainance transaction path to recover stuck tasks.
  internal/db/queue.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/create_manual_root_task_test.go
  internal/jobs/handle_existing_jobs_test.go
  internal/jobs/interfaces.go
  internal/jobs/job_lifecycle_test.go
  internal/jobs/manager_sitemap_test.go
  internal/jobs/prepare_task_test.go
  internal/jobs/setup_job_database_test.go
  internal/jobs/setup_url_discovery_test.go
  internal/jobs/test_helpers.go
  internal/jobs/validate_root_url_access_test.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
  internal/mocks/db_queue.go
Due: all, unit, integration, Job Management, Database Layer

Changelog
  CHANGELOG.md
Due: none

Avoid bad connection on stuck tasks
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Adjust trace endpoint URL config
  internal/observability/observability.go
Due: all, unit, integration

Fix pooler exhaustion and OTLP init
  internal/db/db.go
  internal/observability/observability.go
Due: all, unit, integration, Database Layer

Add Grafana Cloud tracing integration
  CHANGELOG.md
  README.md
  docs/operations/OBSERVABILITY.md
  internal/api/middleware.go
  internal/observability/observability.go
Due: all, unit, integration, API Layer

Remove total_server_errors
  web/templates/job-details.html
Due: none
