Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Add changelog and plan docs
  CHANGELOG.md
  docs/plans/dashboard-timezone-fix.md
  docs/plans/trigger-storm-fix.md
Due: none

Fix trigger WHEN clause syntax
  supabase/migrations/20251024124336_optimise_job_progress_trigger.sql
Due: none

Remove problematic WHEN clause
  supabase/migrations/20251024124336_optimise_job_progress_trigger.sql
Due: none

Include function definition in migration
  supabase/migrations/20251024124336_optimise_job_progress_trigger.sql
Due: none

Analysis
  docs/plans/connection-pool-and-scaling-fixes.md
Due: none

Remove duplicate Unreleased sections
  CHANGELOG.md
Due: none

Implement batch task status updates
  CHANGELOG.md
  docs/plans/batch-update-optimisation.md
  docs/plans/batching-architecture-design.md
  go.mod
  go.sum
  internal/db/batch.go
  internal/db/batch_test.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
Due: all, unit, integration, Job Management, Database Layer

Remove completed planning documents
  docs/plans/batch-update-optimisation.md
  docs/plans/batching-architecture-design.md
Due: none

Remove obsolete TaskBatch infrastructure
  docs/development/MIGRATION_PLAN.md
  internal/jobs/worker.go
  internal/jobs/worker_simple_test.go
  internal/jobs/worker_unit_test.go
  scripts/load-test-simple.sh
Due: all, unit, integration, Job Management

Consolidate completed performance optimisations
  docs/plans/connection-pool-and-scaling-fixes.md
  docs/plans/performance-optimisations-completed.md
  docs/plans/supabase-optimise.md
Due: none

Remove additional completed planning documents
  docs/plans/job-share-links.md
  docs/plans/jwt-signing-keys-migration.md
  docs/plans/trigger-storm-fix.md
Due: none

Update completed optimisations with stuck recovery fix
  docs/plans/performance-optimisations-completed.md
Due: none

Doc cleanup
  docs/plans/README.md
  docs/plans/performance-optimisations-completed.md
Due: none

Timezone from broswer
  CHANGELOG.md
  docs/plans/dashboard-timezone-fix.md
  internal/api/handlers.go
  internal/api/handlers_db_test.go
  internal/api/handlers_simple_test.go
  internal/api/jobs.go
  internal/api/test_mocks.go
  internal/db/dashboard.go
  internal/mocks/db.go
  web/static/js/bb-auth-extension.js
  web/static/js/bb-components.js
Due: all, unit, integration, API Layer, Database Layer

Optimise database performance for concurrent job scaling
  CHANGELOG.md
  docs/metrics/load-test-2025-10-24.md
  docs/optimisations/performance-optimisation-summary.md
  docs/optimisations/security-fix-shared-resources.md
  docs/plans/performance-optimisation-round-2.md
  internal/db/db.go
  internal/db/queue.go
  internal/db/queue_unit_test.go
  load_test_jobs.csv
  supabase/migrations/20251024113314_add_foreign_key_indexes.sql
  supabase/migrations/20251024113328_optimise_rls_policies.sql
Due: all, unit, integration, Database Layer

Fix staticcheck linting error in queue.go
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Remove CONCURRENTLY from index migration
  CHANGELOG.md
  supabase/migrations/20251024113314_add_foreign_key_indexes.sql
Due: none

Tool use update.
  .claude/settings.local.json
Due: none

Load test updates - no giagantic jobs. ignore logs.
  .gitignore
  scripts/load-test-simple.sh
Due: none

Docs cleanup
  docs/metrics/load-test-2025-10-24.md
  docs/plans/README.md
  docs/plans/performance-optimisation-round-2.md
  docs/plans/throughput-optimisation.md
Due: none

Refactor worker loop for per-worker task concurrency
  cmd/app/main.go
  cmd/test_jobs/main.go
  docs/plans/throughput-optimisation-detailed-plan.md
  internal/jobs/worker.go
  internal/jobs/worker_addjob_test.go
  internal/jobs/worker_simple_test.go
  internal/jobs/worker_unit_test.go
  internal/observability/observability.go
Due: all, unit, integration, Job Management, Applications

Phase 2 upgrades.
  internal/api/jobs.go
  internal/db/batch.go
  internal/db/queue.go
  internal/db/queue_unit_test.go
  supabase/migrations/20251025015743_add_running_tasks_column.sql
Due: all, unit, integration, API Layer, Database Layer

Reorder RLS migration for deployment
  scripts/load-test-simple.sh
  supabase/migrations/20251025020000_optimise_rls_policies.sql
Due: none

Add startup counter reconciliation
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Hotfix job start issue
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Fix worker backoff loop
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Fix pool saturation thundering herd
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Cache domain ID to eliminate redundant queries
  internal/jobs/types.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
Due: all, unit, integration, Job Management

Add explicit DomainID assertions to tests
  internal/jobs/prepare_task_test.go
Due: all, unit, integration, Job Management

Changelog
  CHANGELOG.md
Due: none

Fix database pool saturation issue
  internal/db/db.go
Due: all, unit, integration, Database Layer

Adjust pool capacity thresholds for better utilization
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Remove noisy Sentry capture for pool warnings
  internal/db/queue.go
Due: all, unit, integration, Database Layer

App shutdown delays to complete tasks and not overwhelm DB connections.
  cmd/app/main.go
Due: all, unit, integration, Applications

Job date range dropdown adjust.
  dashboard.html
  docs/plans/dashboard-timezone-fix.md
  web/static/js/bb-dashboard-actions.js
Due: none

Remove unused Web Components legacy code
  web/static/js/bb-components.js
Due: none

Add debug logging for timezone filters
  internal/api/jobs.go
  internal/db/dashboard.go
Due: all, unit, integration, API Layer, Database Layer

Fix Australia/Melbourne timezone alias
  internal/api/handlers.go
  internal/db/dashboard.go
Due: all, unit, integration, API Layer, Database Layer

Use timezone offset instead of names
  internal/api/handlers.go
  internal/api/jobs.go
  internal/api/test_mocks.go
  internal/db/dashboard.go
  web/static/js/bb-auth-extension.js
Due: all, unit, integration, API Layer, Database Layer

Add ListJobsWithOffset to all mocks
  internal/api/handlers_db_test.go
  internal/mocks/db.go
Due: all, unit, integration, API Layer
