Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Upgrade OpenTelemetry to fix warnings
  CHANGELOG.md
Due: none

Dependency update
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Fix orphaned task cleanup
  CHANGELOG.md
  internal/jobs/manager.go
  internal/jobs/manager_canceljob_test.go
  internal/jobs/worker.go
  internal/jobs/worker_cleanup_test.go
Due: all, unit, integration, Job Management

Lint fix
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Optimisation: task-claim path + batching and slots
  internal/db/queue.go
  internal/db/queue_unit_test.go
  internal/jobs/claim_pending_task_test.go
  internal/jobs/interfaces.go
  internal/jobs/prepare_task_test.go
  internal/jobs/test_helpers.go
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
  supabase/migrations/20251102123000_optimize_task_claim_indexes.sql
Due: all, unit, integration, Job Management, Database Layer

Batch enqueue tasks and cleanup
  internal/db/queue.go
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Increase DB pool from 37 to 70
  CHANGELOG.md
  internal/db/db.go
Due: all, unit, integration, Database Layer

Speed up task enqueue and claim
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Add composite pages domain/path index
  supabase/migrations/20251102131500_add_pages_domain_path_index.sql
Due: none

Adjust script test jobs
  scripts/generate-test-jobs.md
  scripts/generate-test-jobs.sh
Due: none

Scaling Decision Observability
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Waiting-state observability
  internal/db/queue.go
  internal/jobs/worker.go
  internal/observability/observability.go
Due: all, unit, integration, Job Management, Database Layer

Single-flight job-info caching
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Priority no-op detection
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Priority updates debounced
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Job-info cache telemetry and instrumentation
  internal/jobs/worker.go
  internal/observability/observability.go
Due: all, unit, integration, Job Management

Changelog
  CHANGELOG.md
Due: none

Set concurrency to maxworkers from environment.
  internal/jobs/manager.go
  internal/jobs/manager_test.go
Due: all, unit, integration, Job Management

chore(queue): add job-level pending counters and lighter rebalancer
  CHANGELOG.md
  internal/db/queue.go
  internal/db/queue_unit_test.go
  internal/jobs/worker.go
  internal/jobs/worker_rebalance_test.go
  supabase/migrations/20251109093000_add_job_queue_counters.sql
Due: all, unit, integration, Job Management, Database Layer

docs: Analysis & plan for performance improvement
  docs/plans/queue-stability-summary.md
  docs/research/2025-11/load-performance-analysis/2025-11-01-concurrent-job-stress-test.md
  docs/research/2025-11/load-test-analysis/02-waiting-task-backlog.md
  docs/research/2025-11/load-test-analysis/03-worker-pool-scaling.md
  docs/research/2025-11/load-test-analysis/06-resource-analysis.md
  docs/research/2025-11/load-test-analysis/07-recommendations.md
Due: none

Add build tag to rebalance test
  internal/jobs/worker_rebalance_test.go
Due: all, unit, integration, Job Management

Terminate connections before DB reset
  internal/db/db.go
  internal/db/reset_migrations.go
Due: all, unit, integration, Database Layer

Fix DB reset process.
  internal/db/db.go
  internal/db/reset_migrations.go
Due: all, unit, integration, Database Layer

Linting pre-commit hook
  .githooks/pre-commit
Due: none

Fix linting
  go.mod
  internal/db/db.go
Due: all, unit, integration, Database Layer

Worker monitor now looks at both pending and running jobs when it searches for queued work. Tweak pre-hook linting.
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Pre-commit fix.
  .githooks/pre-commit
Due: none

Waiting-status promotion fix
  internal/db/queue.go
  supabase/migrations/20251109083800_fix_promote_waiting_locking.sql
Due: all, unit, integration, Database Layer

Claim-path change
  CHANGELOG.md
  docs/research/2025-11/load-test-analysis/07-recommendations.md
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Fix test
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

test fix
  internal/db/queue_unit_test.go
Due: all, unit, integration, Database Layer

Fly 1 dedicated machine
  fly.toml
Due: none

Increase worker concurrency to 4.
  fly.toml
Due: none

Convert secrets to toml
  fly.toml
Due: none

Worker concurrency to 6
  fly.toml
Due: none

Increase worker concurrency to 12, max db concurrency 40.
  fly.toml
Due: none

Reduce worker concurrency to 10
  fly.toml
Due: none

Log script update & comment in fly toml.
  fly.toml
  scripts/aggregate_logs.py
Due: none

Replace index: idx_tasks_status_priority
  fly.toml
  supabase/migrations/20251110133000_optimize_task_claim_index.sql
Due: none

Stabilise job removal safeguards
  docs/plans/sentry-incident-remediation-nov-2025.md
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
