Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Revert "Skip golangci config verification"
  .github/workflows/test.yml
Due: none

Add changelog, remove unused plan columns
  CHANGELOG.md
  internal/api/organisations.go
  internal/db/users.go
  supabase/migrations/20260124070000_remove_unused_plan_columns.sql
Due: all, unit, integration, API Layer, Database Layer

Consolidate quota migrations into single file
  supabase/migrations/20260104212025_add_daily_usage_quotas.sql
  supabase/migrations/20260104212025_add_plans_and_daily_quotas.sql
  supabase/migrations/20260104230000_add_org_quota_blocking.sql
  supabase/migrations/20260105211834_fix_quota_default_to_free_plan.sql
  supabase/migrations/20260105213229_enforce_org_free_plan_default.sql
  supabase/migrations/20260106234032_fix_coderabbit_issues.sql
  supabase/migrations/20260107093018_fix_promote_function_text_param.sql
  supabase/migrations/20260107095446_fix_quota_increment_on_completion.sql
  supabase/migrations/20260107110000_quota_count_inflight_tasks.sql
  supabase/migrations/20260107111000_reduce_free_quota_for_testing.sql
  supabase/migrations/20260124060000_add_quota_usage_check.sql
  supabase/migrations/20260124070000_remove_unused_plan_columns.sql
Due: none

Use toggles for property selection
  dashboard.html
  web/static/js/bb-google.js
Due: none

Fix pg_catalog permission in slack migration
  supabase/migrations/20251229160000_add_slack_integration.sql
Due: none

Revert "Fix pg_catalog permission in slack migration"
  supabase/migrations/20251229160000_add_slack_integration.sql
Due: none

Fix updated_at function schema
  supabase/migrations/20260125100000_fix_updated_at_function_schema.sql
Due: none

Fix slack migration schema for preview branches
  supabase/migrations/20251229160000_add_slack_integration.sql
  supabase/migrations/20260125100000_fix_updated_at_function_schema.sql
Due: none

Fix updated_at function via new migration
  supabase/migrations/20251229160000_add_slack_integration.sql
  supabase/migrations/20260125110000_fix_updated_at_function_schema.sql
Due: none

Address CodeRabbit security feedback
  CHANGELOG.md
  internal/api/auth_google.go
  internal/db/google_connections.go
Due: all, unit, integration, API Layer, Database Layer

Fix duplicates
  .claude/settings.local.json
Due: none

Address CodeRabbit review comments
  internal/api/organisations.go
  internal/db/batch.go
Due: all, unit, integration, API Layer, Database Layer

Add error handling to quota increment
  internal/db/batch.go
  internal/db/batch_test.go
Due: all, unit, integration, Database Layer

Add batch promotion task to roadmap
  Roadmap.md
Due: none

Remove double logging in quota increment
  internal/db/batch.go
Due: all, unit, integration, Database Layer

Refresh quota display on org switch
  dashboard.html
Due: none

Mark usage quotas complete in roadmap
  Roadmap.md
Due: none

Add interval cleanup on page unload
  dashboard.html
Due: none

Plan/readme updates.
  .claude/settings.local.json
  README.md
  Roadmap.md
Due: none

Update CHANGELOG for test simplification
  CHANGELOG.md
Due: none

Update roadmap verification status
  Roadmap.md
Due: none

Address CodeRabbit review comments
  CHANGELOG.md
  Roadmap.md
  internal/api/errors_test.go
  internal/api/response_test.go
Due: all, unit, integration, API Layer

Fix CodeRabbit review items
  CHANGELOG.md
  internal/api/response_test.go
Due: all, unit, integration, API Layer

Add missing assertions to health test
  internal/api/response_test.go
Due: all, unit, integration, API Layer

Update test comment and add unserializable payload edge case
  internal/api/response_test.go
Due: all, unit, integration, API Layer

Fix Australian English spelling
  internal/api/response_test.go
Due: all, unit, integration, API Layer

Roadmap: Framework eval later
  Roadmap.md
Due: none

Fix Trivy ignore and add security docs
  .trivyignore
  SECURITY.md
Due: none

Clarify global JWT token ignore scope
  .trivyignore
Due: none

Reorganise roadmap and move plans to docs
  .claude/settings.local.json
  Roadmap.md
  docs/plans/webflow-marketplace.md
  plans/google-analytics-integration.md
Due: none

Trigger immediate job on feature enable
  internal/api/webflow_sites.go
Due: all, unit, integration, API Layer

Address CodeRabbit review comments
  internal/api/webflow_sites.go
Due: all, unit, integration, API Layer

Update docs for immediate job triggering
  CHANGELOG.md
  Roadmap.md
Due: none

Fix auth display empty string bug
  web/static/js/auth.js
Due: none

Prevent capturing none display value
  web/static/js/auth.js
Due: none

Update changelog for auth display fix
  CHANGELOG.md
Due: none

Add scheduled orphaned preview app cleanup
  .github/workflows/cleanup-orphaned-apps.yml
Due: none

Test cleanup workflow
  internal/api/admin.go
Due: all, unit, integration, API Layer

settings.
  .claude/settings.local.json
Due: none
