Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Fix quota init and polling on staging
  web/static/js/bb-auth-extension.js
  web/static/js/bb-global-nav.js
  web/static/js/job-page.js
Due: none

Fix prettier formatting
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
Due: none

Handle sub-minute reset time edge case
  web/static/js/bb-global-nav.js
Due: none

Address CodeRabbit review feedback
  web/static/js/bb-global-nav.js
  web/static/js/job-page.js
Due: none

Cache DOM refs, add org-switch listener, fix channel cleanup
  web/static/js/bb-global-nav.js
  web/static/js/job-page.js
Due: none

Move org-switch listener to initQuota scope
  web/static/js/bb-global-nav.js
Due: none

Attempt quota polling even if coreReady rejects
  web/static/js/bb-global-nav.js
Due: none

Guard all quota elements before writing
  web/static/js/bb-global-nav.js
Due: none

Add 15s timeout to quota fetch
  web/static/js/bb-global-nav.js
Due: none

Update changelog for account management and polling
  CHANGELOG.md
Due: none

Fix invite for existing Supabase users
  Roadmap.md
  internal/api/organisations.go
  web/static/js/bb-settings.js
Due: all, unit, integration, API Layer

Fix dashboard init race on cold load
  dashboard.html
Due: none

Apply coreReady race fix to all pages
  homepage.html
  web/static/js/job-page.js
Due: none

Centralise coreReady wait in BB_APP.whenReady
  dashboard.html
  homepage.html
  web/static/js/core.js
  web/static/js/job-page.js
Due: none

Address CodeRabbit review feedback
  internal/api/organisations.go
  web/static/js/bb-settings.js
Due: all, unit, integration, API Layer

Move whenReady bootstrap inline before defer
  .claude/settings.local.json
  dashboard.html
  homepage.html
  web/static/js/core.js
  web/templates/job-details.html
Due: none

Fix Prettier formatting
  dashboard.html
  homepage.html
Due: none

Extract shared auth URL helper, cap error reads
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Surface email delivery status in invite response
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Extract bootstrap into bb-bootstrap.js
  dashboard.html
  homepage.html
  web/static/js/bb-bootstrap.js
  web/templates/job-details.html
Due: none

Add copy invite link button to pending invites
  internal/api/organisations.go
  settings.html
  web/static/js/bb-settings.js
  web/static/styles/app.css
Due: all, unit, integration, API Layer

Hide copy button when link absent, use spacing token
  web/static/js/bb-settings.js
  web/static/styles/app.css
Due: none

Add Loops.so email API client
  internal/loops/client.go
  internal/loops/client_test.go
Due: all, unit, integration

Exclude static assets from rate limiter
  cmd/app/main.go
Due: all, unit, integration, Applications

Use publishable key for magic link, surface delivery status
  internal/api/organisations.go
  web/static/js/bb-settings.js
Due: all, unit, integration, API Layer

Update changelog for unreleased fixes
  CHANGELOG.md
Due: none

Merge main into worktree branch
  .claude/settings.local.json
Due: none

Add request metadata utility, wire invite name
  internal/api/jobs.go
  internal/api/organisations.go
  internal/util/request.go
  internal/util/request_test.go
Due: all, unit, integration, API Layer

Pass device and timestamp to invite email
  internal/api/organisations.go
Due: all, unit, integration, API Layer

Add changelog for invite fixes
  CHANGELOG.md
Due: none

Add separator below unreleased section
  CHANGELOG.md
Due: none

Remove unnecessary changelog separator
  CHANGELOG.md
Due: none

Restore changelog unreleased separator
  CHANGELOG.md
Due: none

Add Cloudflare location to request metadata
  internal/api/organisations.go
  internal/util/request.go
  internal/util/request_test.go
Due: all, unit, integration, API Layer

Remove changelog separator to avoid CI issues
  CHANGELOG.md
Due: none

Update changelog for Loops client and request metadata
  CHANGELOG.md
Due: none

Fix SQL alias bug, bump Go 1.25.7
  go.mod
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Sanitise invite metadata for JSON safety
  internal/api/organisations.go
  internal/util/request.go
Due: all, unit, integration, API Layer

Bump Dockerfile to Go 1.25.7
  Dockerfile
Due: none

Revert to Go 1.25.6 for CI compatibility
  Dockerfile
  go.mod
Due: none
