Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Fix Webflow OAuth and add handlers
  internal/api/auth_webflow.go
  internal/api/handlers.go
Due: all, unit, integration, API Layer

Fix realtime subscription cleanup and fallback
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
Due: none

Fix pre-load to use active organisation
  dashboard.html
Due: none

Reset cleanup handler flag for SPA navigation
  web/static/js/bb-auth-extension.js
Due: none

Add SSRF protection for crawler
  Dockerfile
  Roadmap.md
  internal/crawler/config.go
  internal/crawler/crawler.go
  internal/crawler/crawler_test.go
  internal/crawler/validate_crawl_request_test.go
  scripts/auth/config.py
Due: all, unit, integration, Web Crawler

Address CodeRabbit review feedback
  .env.example
  .gitignore
  internal/api/auth_webflow.go
  internal/api/oauth_utils.go
  internal/db/users.go
  internal/db/webflow_connections.go
  supabase/migrations/20260101193800_add_webflow_integration.sql
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer, Database Layer

Add DELETE event to realtime subscription
  web/static/js/bb-auth-extension.js
Due: none

Address remaining CodeRabbit feedback
  internal/api/auth_webflow.go
Due: all, unit, integration, API Layer

Add OAuth secret validation, use bytes.NewReader
  internal/api/auth_webflow.go
  internal/api/oauth_utils.go
Due: all, unit, integration, API Layer

Update changelog for realtime dashboard
  CHANGELOG.md
Due: none

Fix DNS rebinding TOCTOU vulnerability
  .githooks/pre-commit
  internal/crawler/crawler.go
Due: all, unit, integration, Web Crawler

Fix duplicate constant declaration
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
Due: none

Fetch real Webflow user and workspace IDs
  internal/api/auth_webflow.go
  web/static/js/bb-webflow.js
Due: all, unit, integration, API Layer

Address minor CodeRabbit review items
  dashboard.html
  eslint.config.mjs
  internal/db/reset_migrations.go
  package.json
Due: all, unit, integration, Database Layer

Bump JS version strings for cache
  dashboard.html
  web/templates/job-details.html
Due: none

Use window property directly for delay
  web/static/js/job-page.js
  web/templates/job-details.html
Due: none

feat: implement realtime dashboard updates (#208)
  CHANGELOG.md
  dashboard.html
  supabase/migrations/20260101130000_enable_jobs_realtime.sql
  supabase/migrations/20260101140000_set_jobs_replica_identity_full.sql
  supabase/migrations/20260101150000_add_simple_jobs_policy.sql
  web/static/js/bb-auth-extension.js
  web/static/js/job-page.js
  web/templates/job-details.html
Due: none

Update changelog for security stack
  CHANGELOG.md
Due: none

Update changelog with JS fix
  CHANGELOG.md
Due: none

Update main.go
  cmd/app/main.go
Due: all, unit, integration, Applications

Update dashboard.html
  dashboard.html
Due: none

Refactor integration feedback to generic helper
  dashboard.html
Due: none

Add secret validation to validateOAuthState
  internal/api/oauth_utils.go
Due: all, unit, integration, API Layer

Finalise changelog for security PR
  CHANGELOG.md
Due: none

Extract SSRF DialContext helper function
  internal/crawler/crawler.go
Due: all, unit, integration, Web Crawler

Standardise pre-commit output suppression
  .githooks/pre-commit
Due: none

Remove redundant DNS lookup from validation
  internal/crawler/crawler.go
  internal/crawler/crawler_test.go
Due: all, unit, integration, Web Crawler

Add IPv4-mapped IPv6 test cases
  internal/crawler/crawler_test.go
Due: all, unit, integration, Web Crawler

Add IPv6 SSRF dial test cases
  internal/crawler/crawler_test.go
Due: all, unit, integration, Web Crawler

Open source security stack and application of 15 sec fixes (#209)
  .githooks/pre-commit
  .golangci.yml
  CHANGELOG.md
  Dockerfile
  Roadmap.md
  cmd/app/main.go
  cmd/app/main_test.go
  dashboard.html
  eslint.config.mjs
  go.mod
  go.sum
  internal/api/admin_test.go
  internal/api/auth_middleware_test.go
  internal/api/dashboard_test.go
  internal/api/handlers_simple_test.go
  internal/api/middleware_test.go
  internal/api/webhook_test.go
  internal/auth/auth_test.go
  internal/crawler/config.go
  internal/crawler/crawler.go
  internal/crawler/crawler_test.go
  internal/crawler/sitemap.go
  internal/crawler/sitemap_test.go
  internal/crawler/validate_crawl_request_test.go
  internal/db/dashboard.go
  internal/db/db_test.go
  internal/db/notifications.go
  internal/db/queue.go
  internal/db/reset_migrations.go
  internal/jobs/worker.go
  package-lock.json
  package.json
  scripts/auth/config.py
  scripts/security-check.sh
Due: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Add Webflow integration to changelog
  CHANGELOG.md
Due: none

Add trivyignore and update npm lock
  .trivyignore
  package-lock.json
Due: none

Fix recursive call in showWebflowError
  web/static/js/bb-webflow.js
Due: none

Fix unused argument SQL error in jobs queries
  internal/db/dashboard.go
Due: all, unit, integration, Database Layer

Fix unused SQL args in jobs query
  internal/db/dashboard.go
Due: all, unit, integration, Database Layer

Add debouncing to realtime and auth refreshes
  web/static/js/auth.js
  web/static/js/bb-auth-extension.js
Due: none

Remove setTimeout wrapper from realtime debounce
  web/static/js/bb-auth-extension.js
Due: none

Add Webflow secrets to review apps
  .github/workflows/review-apps.yml
Due: none

Make migrations idempotent
  supabase/migrations/20251229045502_create_organisation_members.sql
  supabase/migrations/20251229045647_create_platform_org_mappings.sql
  supabase/migrations/20251229091500_create_tech_samples_storage.sql
  supabase/migrations/20251229160000_add_slack_integration.sql
  supabase/migrations/20251230111012_add_job_notification_trigger.sql
  supabase/migrations/20260101150000_add_simple_jobs_policy.sql
Due: none
