Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Improve queue, DB, and auth resilience
  docs/plans/sentry-incident-remediation-nov-2025.md
  internal/db/pages.go
  web/static/js/auth.js
Due: all, unit, integration, Database Layer

Use upsert when inserting pages
  internal/db/pages.go
Due: all, unit, integration, Database Layer

Instrument Turnstile retries in Sentry
  docs/plans/sentry-incident-remediation-nov-2025.md
  web/static/js/auth.js
Due: none

Document queue, db, and auth fixes
  CHANGELOG.md
Due: none

Remove email from Turnstile telemetry
  web/static/js/auth.js
Due: none

Stop logging user email addresses
  dashboard.html
  internal/db/users.go
  web/static/js/auth.js
  web/static/js/bb-auth-extension.js
Due: all, unit, integration, Database Layer

Tighten Turnstile retry detection
  web/static/js/auth.js
Due: none

Batch orphaned task cleanup to avoid timeouts
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Document batched orphaned-task cleanup
  CHANGELOG.md
Due: none

Use single timestamp per orphaned-task batch
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Commit orphaned-task batches independently
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Guard orphaned-task cleanup loop
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Record partial orphaned-task progress in span
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Improve batch throughput & running task release
  CHANGELOG.md
  internal/db/batch.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Fix nits
  internal/db/batch.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Tighten nits
  internal/db/batch.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Minor nit
  internal/db/batch.go
Due: all, unit, integration, Database Layer

CLI Auth vi app Draft
  CHANGELOG.md
  cli-login.html
  scripts/auth/cli_auth.py
  scripts/generate-test-jobs.md
  scripts/generate-test-jobs.sh
Due: none

Fix anon_key. Adjust nits
  cli-login.html
  scripts/auth/cli_auth.py
  scripts/generate-test-jobs.md
  scripts/generate-test-jobs.sh
Due: none

FIx nits
  cli-login.html
  scripts/auth/cli_auth.py
Due: none

Minor nits
  cli-login.html
  scripts/auth/cli_auth.py
Due: none

changelog
  CHANGELOG.md
Due: none

Update scripts/auth/cli_auth.py
  scripts/auth/cli_auth.py
Due: none

Update cli-login.html
  cli-login.html
Due: none

Tweaks
  cli-login.html
  scripts/auth/cli_auth.py
Due: none

Routing fix. to cli-login. CLI auth fixes.
  .gitignore
  Dockerfile
  internal/api/handlers.go
  scripts/auth/cli_auth.py
  scripts/auth/config.py
  scripts/generate-test-jobs.md
Due: all, unit, integration, API Layer

import util fix
  scripts/auth/cli_auth.py
Due: none

CLI Auth: loader clones both inline and external
  cli-login.html
Due: none

Error handling.
  cli-login.html
Due: none

Centralise auth and core logic.
  auth-modal.html
  cli-login.html
  dashboard.html
  homepage.html
  internal/api/handlers.go
  web/static/js/auth.js
  web/static/js/core.js
Due: all, unit, integration, API Layer

Resolve a bunch of issues
  auth-modal.html
  fly.toml
  internal/api/handlers.go
  web/static/js/auth.js
  web/static/js/core.js
Due: all, unit, integration, API Layer

Fixes
  auth-modal.html
  cli-login.html
  dashboard.html
  web/static/js/auth.js
  web/static/js/core.js
  web/templates/job-details.html
Due: none

Various nits
  auth-modal.html
  cli-login.html
  dashboard.html
  web/static/js/auth.js
  web/static/js/core.js
Due: none

Remove duplicativ functionj
  auth-modal.html
Due: none

Centralise all CSS
  cli-login.html
  dashboard.html
  homepage.html
  internal/api/handlers.go
  web/static/styles/app.css
  web/templates/job-details.html
Due: all, unit, integration, API Layer

Adjust CSS targeting.
  cli-login.html
  dashboard.html
  homepage.html
  internal/api/handlers.go
  web/static/styles/app.css
  web/templates/job-details.html
Due: all, unit, integration, API Layer

initialise homepage
  homepage.html
Due: none

Sureface variables in CI
  .github/workflows/review-apps.yml
Due: none

Env variable fix.
  .fly/review_apps.toml
Due: none
