Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: 45%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events
    patch:
      default:
        target: 0%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: false # Important: Allow status checks on push events

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: false # Don't require base report for comments
  require_head: true

# Flags group coverage reports by test type, service, etc.
flags:
  # All tests
  all:
    paths:
      - "**/*.go"
    carryforward: true

  # Unit tests (tests with mocks, no DB)
  unit:
    paths:
      - "**/*.go"
    carryforward: true

  # Integration tests (tests with real database)
  integration:
    paths:
      - "**/*.go"
    carryforward: true

# Components group files into logical parts of your application
component_management:
  default_rules: # rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        threshold: 1%

  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - "internal/api/**"

    - component_id: crawler
      name: Web Crawler
      paths:
        - "internal/crawler/**"

    - component_id: jobs
      name: Job Management
      paths:
        - "internal/jobs/**"

    - component_id: database
      name: Database Layer
      paths:
        - "internal/db/**"

    - component_id: auth
      name: Authentication
      paths:
        - "internal/auth/**"

    - component_id: cmd
      name: Applications
      paths:
        - "cmd/**"
# Static analysis configuration (BETA feature) - Temporarily disabled
# static_analysis:
#   enabled: true
#   # Configure which issues to report
#   rules:
#     complexity:
#       enabled: true
#       threshold: 10  # Flag functions with complexity > 10
#     security:
#       enabled: true
#     maintainability:
#       enabled: true

Cloudflare middleware to not breach CSP
  internal/api/middleware.go
Due: all, unit, integration, API Layer

Create batch jobs update.
  scripts/load-test-simple.sh
Due: none

Crawling issues across various sites.
  plans/load-test-issues-2025-10-18.md
Due: none

Changelog for cloudflare analytics
  CHANGELOG.md
Due: none

Best practice crawling methods.
  docs/research/2025-10/crawling-issues.md
Due: none

Plan/research to optimise crawling.
  docs/plans/job-share-links.md
  docs/plans/platform-auth-architecture.md
  docs/research/2025-10/crawling-best-practice/issue-1-cache-warming-timeout.md
  docs/research/2025-10/crawling-best-practice/issue-2-rate-limiting.md
  docs/research/2025-10/crawling-best-practice/issue-3-domain-rate-limiter.md
  docs/research/2025-10/crawling-best-practice/issue-4-cookie-jar.md
  docs/research/2025-10/crawling-best-practice/issue-5-proxy-support.md
  docs/research/2025-10/crawling-best-practice/issue-6-user-agent-rotation.md
  docs/research/2025-10/crawling-best-practice/issue-7-referer-header.md
  docs/research/2025-10/crawling-best-practice/issue-8-randomised-delays.md
  docs/research/2025-10/crawling-best-practice/research/crawling-issues.md
  docs/research/2025-10/crawling-best-practice/research/load-test-issues-2025-10-18.md
  docs/research/2025-10/crawling-best-practice/summary.md
  docs/research/2025-10/crawling-issues.md
  docs/research/2025-10/general-optimisation-concepts/EVALUATION.md
  docs/research/2025-10/general-optimisation-concepts/articles/5-go-patterns.md
  docs/research/2025-10/general-optimisation-concepts/articles/6-go-libraries.md
  docs/research/2025-10/general-optimisation-concepts/articles/claude-traps.md
  docs/research/2025-10/general-optimisation-concepts/articles/go-latency.md
  docs/research/2025-10/general-optimisation-concepts/articles/go-performance.md
  docs/research/2025-10/general-optimisation-concepts/articles/metrics/Supabase-performance.csv
  docs/research/2025-10/general-optimisation-concepts/articles/micro-services.md
  docs/research/2025-10/general-optimisation-concepts/articles/postgres-pool.md
  docs/research/2025-10/general-optimisation-concepts/articles/supabase-optimise-db.md
  docs/research/2025-10/general-optimisation-concepts/articles/supabase-speed.md
  docs/research/2025-10/general-optimisation-concepts/articles/top-10-go-libraries.md
Due: none

Add Referer header and document RandomDelay
  internal/crawler/config.go
  internal/crawler/crawler.go
Due: all, unit, integration, Web Crawler

Random delay adjustments.
  internal/crawler/config.go
  internal/crawler/crawler.go
Due: all, unit, integration, Web Crawler

Referer header and delay improvements
  docs/research/2025-10/crawling-best-practice/issue-1-cache-warming-timeout.md
  docs/research/2025-10/crawling-best-practice/issue-2-rate-limiting.md
  docs/research/2025-10/crawling-best-practice/issue-3-domain-rate-limiter.md
  docs/research/2025-10/crawling-best-practice/issue-4-cookie-jar.md
  docs/research/2025-10/crawling-best-practice/issue-5-proxy-support.md
  docs/research/2025-10/crawling-best-practice/issue-6-user-agent-rotation.md
  docs/research/2025-10/crawling-best-practice/issue-7-referer-header.md
  docs/research/2025-10/crawling-best-practice/issue-8-randomised-delays.md
Due: none

Update changelog for crawler improvements
  CHANGELOG.md
Due: none

Crawler improvement progress updates.
  docs/research/2025-10/crawling-best-practice/done/issue-7-referer-header.md
  docs/research/2025-10/crawling-best-practice/done/issue-8-randomised-delays.md
  docs/research/2025-10/crawling-best-practice/summary.md
Due: none

Remove bypass from 2nd attempt condition.
  docs/research/2025-10/crawling-best-practice/summary.md
  internal/crawler/crawler.go
  internal/crawler/perform_cache_validation_test.go
Due: all, unit, integration, Web Crawler

Retry backoff
  internal/jobs/worker.go
  internal/jobs/worker_process_test.go
Due: all, unit, integration, Job Management

Changelog. And adjust auto-release notes.
  .github/workflows/auto-release.yml
  CHANGELOG.md
  docs/research/2025-10/crawling-best-practice/summary.md
Due: none

Minor updates and change to large sitemap crawling [skip review app]
  .github/workflows/review-apps.yml
  internal/db/queue.go
  internal/jobs/manager.go
  load_test_jobs.csv
Due: all, unit, integration, Job Management, Database Layer

changelog
  CHANGELOG.md
Due: none

Cleanup stuck jobs
  CHANGELOG.md
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Increase max open connections.
  internal/db/db.go
Due: all, unit, integration, Database Layer

Docs/test
  docs/architecture/DATABASE.md
  internal/db/db_test.go
Due: all, unit, integration, Database Layer

Docs
  docs/architecture/DATABASE.md
Due: none

Remove slow/redirect pages from dashboard.
  dashboard.html
  web/static/js/bb-auth-extension.js
  web/static/js/bb-dashboard-actions.js
Due: none

Improve stuck task checks, reporting and stuff
  CHANGELOG.md
  cmd/app/main.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Applications

Fix linting issues.
  cmd/app/main.go
Due: all, unit, integration, Applications

Fix linting
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Increase maintenance timeout for recovery
  CHANGELOG.md
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Use immediate deployment strategy
  fly.toml
Due: none

Change fly deploy to immediate
  CHANGELOG.md
  fly.toml
Due: none

Fix connection pool exhaustion
  CHANGELOG.md
  internal/db/db.go
  internal/db/queue.go
Due: all, unit, integration, Database Layer

Environment-based resource scaling
  CHANGELOG.md
  cmd/app/main.go
  internal/db/db.go
Due: all, unit, integration, Database Layer, Applications

Fix dynamic worker scaling limits
  CHANGELOG.md
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Adjust connection limits for environments
  CHANGELOG.md
  internal/db/db.go
Due: all, unit, integration, Database Layer

Tweak env check from if to switch. Changelog updates.
  CHANGELOG.md
  internal/db/db.go
Due: all, unit, integration, Database Layer

Refactor to use switch statements
  cmd/app/main.go
Due: all, unit, integration, Applications

Fix test expectations for new connection defaults
  internal/db/db_test.go
Due: all, unit, integration, Database Layer

Remove prepared statements from pages.go
  internal/db/pages.go
Due: all, unit, integration, Database Layer

Remove all prepared statements
  fly.logs.sample
  internal/db/queue.go
  internal/db/queue_unit_test.go
  internal/jobs/worker.go
Due: all, unit, integration, Job Management, Database Layer

Remove fly.logs.sample file
  fly.logs.sample
Due: none

Fix stuck task recovery logic
  internal/jobs/worker.go
Due: all, unit, integration, Job Management

Reduce connection limits for Supabase overhead
  internal/db/db.go
Due: all, unit, integration, Database Layer

Optimise job progress trigger
  supabase/migrations/20251024124336_optimise_job_progress_trigger.sql
Due: none
