Repository Harvey-AU/blue-banded-bee: changes, and which Codecov flags are due for each by the changed paths.
All: all, unit, integration, API Layer, Web Crawler, Job Management, Database Layer, Authentication, Applications

Implement GA4 analytics data retrieval with progressive fetching
  cmd/app/main.go
  internal/api/google_data_api.go
  internal/api/handlers.go
  internal/api/jobs.go
  internal/db/db.go
  internal/db/google_connections.go
Due: all, unit, integration, API Layer, Database Layer, Applications

settings update
  .claude/settings.local.json
Due: none

Add domain mapping to GA4 property connections
  internal/api/auth_google.go
  internal/api/google_data_api.go
  internal/api/handlers.go
  internal/db/db.go
  internal/db/google_connections.go
  supabase/migrations/20260127114840_add_domain_ids_to_ga_connections.sql
Due: all, unit, integration, API Layer, Database Layer

Add domain mapping to GA4 properties
  web/static/js/bb-google.js
Due: none

Fix NULL array handling in GA connections
  internal/db/google_connections.go
Due: all, unit, integration, Database Layer

Fix NULL array handling in GA connections
  supabase/migrations/20260127210345_fix_null_domain_ids.sql
Due: none

Fix NULL array scanning with pq.Int64Array
  internal/api/auth_google.go
  internal/db/google_connections.go
Due: all, unit, integration, API Layer, Database Layer

Add domain tag UI to GA connections
  web/static/js/bb-google.js
Due: none

Fetch domains when loading connections
  web/static/js/bb-google.js
Due: none

Add PATCH endpoint to update domain mappings
  internal/api/auth_google.go
  internal/api/handlers.go
  internal/db/google_connections.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer, Database Layer

Replace checkbox domain selection with search input
  web/static/js/bb-google.js
Due: none

Fix domain display and modal issues
  web/static/js/bb-google.js
Due: none

Fix domain creation and event listeners
  web/static/js/bb-google.js
Due: none

Fix dropdown closing on input click
  web/static/js/bb-google.js
Due: none

Revert to working checkbox domain selection
  web/static/js/bb-google.js
Due: none

Add inline search input for initial domain selection
  web/static/js/bb-google.js
Due: none

Add debug logging for domain dropdown
  web/static/js/bb-google.js
Due: none

Fix GetDomainsForOrganisation to return all domains
  internal/db/db.go
Due: all, unit, integration, Database Layer

Revert GetDomainsForOrganisation to use jobs JOIN
  internal/db/db.go
Due: all, unit, integration, Database Layer

Add debug logging for domain queries
  internal/api/auth_google.go
Due: all, unit, integration, API Layer

Fix frontend domain response path
  web/static/js/bb-google.js
Due: none

Fix domain names on connection display
  web/static/js/bb-google.js
Due: none

Return domain_id in job creation response
  internal/api/jobs.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Add debug logging for domain creation click
  web/static/js/bb-google.js
Due: none

Fix dropdown click with mousedown event
  web/static/js/bb-google.js
Due: none

Add Enter key handler for domain selection
  web/static/js/bb-google.js
Due: none

Use form submit instead of keydown listener
  web/static/js/bb-google.js
Due: none

Apply form submit to all domain selectors
  web/static/js/bb-google.js
Due: none

Fix domain ID path in modal domain creation
  web/static/js/bb-google.js
Due: none

Add detailed GA4 fetch logging
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Add debug logging for GA4 fetch trigger
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Run GA4 fetch in background, don't block job creation
  internal/api/jobs.go
Due: all, unit, integration, API Layer

Fix code quality issues in GA4 integration
  cmd/app/main.go
  internal/api/auth_google.go
  internal/db/db.go
  internal/db/google_connections.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer, Database Layer, Applications

Update Go to 1.25.6 for security fixes
  Dockerfile
  go.mod
Due: none

Address CodeRabbit review comments
  internal/api/auth_google.go
  supabase/migrations/20260127210345_fix_null_domain_ids.sql
Due: all, unit, integration, API Layer

Remove debug logging from GA4 integration
  internal/api/auth_google.go
  web/static/js/bb-google.js
Due: all, unit, integration, API Layer

Remove verbose console logging on page load
  web/static/js/auth.js
  web/static/js/bb-auth-extension.js
  web/static/js/bb-dashboard-actions.js
  web/static/js/bb-google.js
  web/static/js/bb-slack.js
  web/static/js/bb-webflow.js
Due: none

Add org-scoped page analytics storage
  internal/api/google_data_api.go
  internal/api/handlers.go
  internal/db/db.go
  supabase/migrations/20260129114624_add_page_analytics_table.sql
Due: all, unit, integration, API Layer, Database Layer

Fetch 28d and 180d page views from GA4
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Fix GA4 multi-date-range fetching
  internal/api/google_data_api.go
Due: all, unit, integration, API Layer

Path conditions:
  all: any of: **/*.go
  unit: any of: **/*.go
  integration: any of: **/*.go
  API Layer: any of: internal/api/**
  Web Crawler: any of: internal/crawler/**
  Job Management: any of: internal/jobs/**
  Database Layer: any of: internal/db/**
  Authentication: any of: internal/auth/**
  Applications: any of: cmd/**
